<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ 'Add product photo' | i18n }}
            </div>
            <div class="modal-body">
                <div class="row">
                    <error-box [serverError]="serverError"></error-box>
                    <loader [isLoading]="isLoading"></loader>
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <h4>{{ 'Product photo' | i18n }}</h4>
                        <div class="col-sm-12">
                            <img src="{{ photoUrl }}" style="width: 100%;" />
                        </div>
                        <input style="margin-top:5px; float:left" accept=".svg, .jpg, .png" [(ngModel)]="filePath" type="file" #photoFile />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="hide()">
                    {{ 'Cancel' | i18n }}
                </button>
                <button type="button" [disabled]="!filePath" class="btn btn-success" (click)="add()">
                    {{ 'Add' | i18n }}
                </button>
              
            </div>
        </div>
    </div>
</div>
