<div class="col-sm-6">
    <form class="form-horizontal">
        <fieldset>
            <legend>{{ 'Payment details' | i18n }}</legend>
            <div>
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>{{ 'Date' | i18n }}</th>
                        <th>{{ 'Payment type' | i18n }}</th>
                        <th>{{ 'Amount expceted' | i18n }}</th>
                        <th>{{ 'Amount recieved' | i18n }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let payment of paymentHistory">
                        <th>{{ payment.creationDate }}</th>
                        <th>{{ payment.paymentTypeName }}</th>
                        <th>{{ payment.expectedAmount }} {{ payment.expectedCurrencyCode }}</th>
                        <th>{{ payment.actualAmount }} {{ payment.actualCurrencyCode }}</th>
                        <th>
                            <label *ngIf="payment.success" class="label label-success">
                                {{ 'Success' | i18n }}
                            </label>
                            <label *ngIf="!payment.success" class="label label-danger">
                                {{ 'Unsuccessful' | i18n }}
                            </label>
                        </th>
                        <th>
                            <button
                                class="btn btn-default btn-xs"
                                (click)="setAsPaid(payment)"
                                [disabled]="payment.paymentTypeName != 'BANK_TRANSFER' || payment.success"
                            >
                                <i class="fa fa-check"></i> {{ 'Set as paid' | i18n }}
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-success" style="float:right;" (click)="addPaymentHistoryModal.init()">{{'add'|i18n}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>

        <fieldset>
            <legend>{{ 'Delivery address' | i18n }}</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">{{ 'First name and last name' | i18n }} </label>
                <div class="col-md-5">
                    <input
                        [disabled]="!editMode"
                        class="form-control"
                        name="firstname"
                        [(ngModel)]="order.customer.firstName"
                        type="text"
                    />
                </div>
                <div class="col-md-5">
                    <input
                        [disabled]="!editMode"
                        class="form-control"
                        name="lastName"
                        [(ngModel)]="order.customer.lastName"
                        type="text"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{{ 'Email' | i18n }}</label>
                <div class="col-md-10">
                    <input
                        [disabled]="!editMode"
                        class="form-control"
                        name="email"
                        [(ngModel)]="order.customer.email"
                        type="text"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{{ 'Address' | i18n }}</label>
                <div class="col-md-10">
                    <input
                        [disabled]="!editMode"
                        class="form-control"
                        name="adres"
                        [(ngModel)]="order.customer.address"
                        type="text"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{{ 'Post code and city' | i18n }}</label>
                <div class="col-md-5">
                    <input
                        [disabled]="!editMode"
                        class="form-control"
                        name="postCode"
                        [(ngModel)]="order.customer.postCode"
                        type="text"
                    />
                </div>
                <div class="col-md-5">
                    <input
                        [disabled]="!editMode"
                        class="form-control"
                        name="city"
                        [(ngModel)]="order.customer.city"
                        type="text"
                    />
                </div>
            </div>
          
            <div class="form-group">
                <label class="col-md-2 control-label">{{ 'Country' | i18n }}</label>
                <div class="col-md-10">
                    <select  [disabled]="!editMode" name="country" class="form-control"   [(ngModel)]="order.customer.country">
                        <option [value]="country.code"  *ngFor="let country of countries">{{country.name}}</option>
                    </select>               
                </div>
            </div>

            <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'Area code' | i18n }}</label>
                    <div class="col-md-3">
                        <input
                            [disabled]="!editMode"
                            class="form-control"
                            name="areaCode"
                            [(ngModel)]="order.customer.areaCode"
                            type="text"
                        />
                    </div>
                    <label class="col-md-2 control-label">{{ 'Phone number' | i18n }}</label>

                    <div class="col-md-5">
                        <input
                            [disabled]="!editMode"
                            class="form-control"
                            name="phoneNumber"
                            [(ngModel)]="order.customer.phoneNumber"
                            type="number"
                        />
                    </div>
                </div>
          
        </fieldset>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button *ngIf="!editMode" class="btn btn-success" type="button" (click)="editMode = true">
                        {{ 'Edit' | i18n }}
                    </button>
                    <button *ngIf="editMode" class="btn btn-default" type="button" (click)="editMode = false">
                        {{ 'Cancel' | i18n }}
                    </button>
                    <button *ngIf="editMode" class="btn btn-primary" type="button" (click)="save()">
                        <i class="fa fa-save"></i> {{ 'Save' | i18n }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<add-payment-history-modal-component #addPaymentHistoryModal (close)="ngOnInit()" ></add-payment-history-modal-component>