<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Commission settings' | i18n]"
            icon="money"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td style="width:30%">{{ 'Price from' | i18n }}</td>
                        <td style="width:30%">{{ 'Price to' | i18n }}</td>
                        <td style="width:30%">{{ 'Multiplier' | i18n }}</td>
                        <td style="width:10%">
                            <button style="width:50px" (click)="init()" class="btn btn-default btn-xs">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let rate of (response.data
                                | paginate
                                    : {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: request.currentPage,
                                          totalItems: response.totalItems,
                                          id: 'rates'
                                      })
                        "
                    >
                        <td>{{ rate.from | number: '0.2-2' }}$</td>
                        <td>{{ rate.to | number: '0.2-2' }}$</td>
                        <td>{{ rate.value }}</td>
                        <td>
                            <button class="btn btn-xs btn-default" (click)="detailsModal.init(rate)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" (click)="delete(rate.id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <button class="btn btn-default pull-right" (click)="detailsModal.init({})">
                                <i class="fa fa-plus"></i> {{ 'Add' | i18n }}
                            </button>
                        </td>
                    </tr>
                    <tr class="pagination-row">
                        <td colspan="4">
                            <pagination-wrapper (pageChange)="pageChange($event)" id="rates"></pagination-wrapper>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<commissions-details-modal-component #detailsModal (close)="init($event)"></commissions-details-modal-component>
