<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['User profile']"
            icon="cogs"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <ul id="profile-tab" class="nav nav-tabs bordered">
                <li [class.active]="currentTab == 'basic'">
                    <a (click)="currentTab = 'basic'"> {{ 'Basic' | i18n }}</a>
                </li>
                <li [class.active]="currentTab == 'subscriptionAndPayment'">
                    <a (click)="currentTab = 'subscriptionAndPayment'"> {{ 'Subscription and Payment' | i18n }}</a>
                </li>
            </ul>
            <tabset class="padding-10" *ngIf="!isLoading">
                <tab [active]="currentTab == 'basic'">
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <legend>{{ 'Data' | i18n }}</legend>

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"
                                            >{{ 'First name and last name' | i18n }}
                                        </label>
                                        <div class="col-md-5">
                                            <input
                                                [disabled]="!editMode"
                                                class="form-control"
                                                name="firstname"
                                                [(ngModel)]="user.firstName"
                                                type="text"
                                            />
                                        </div>
                                        <div class="col-md-5">
                                            <input
                                                [disabled]="!editMode"
                                                class="form-control"
                                                name="lastName"
                                                [(ngModel)]="user.lastName"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'Email' | i18n }}</label>
                                        <div class="col-md-10">
                                            <input
                                                disabled
                                                class="form-control"
                                                name="email"
                                                [(ngModel)]="user.email"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: right">
                                        <button
                                            *ngIf="!editMode"
                                            class="btn btn-success"
                                            type="button"
                                            (click)="editMode = true"
                                        >
                                            {{ 'Edit' | i18n }}
                                        </button>
                                        <button
                                            *ngIf="editMode"
                                            class="btn btn-default"
                                            type="button"
                                            (click)="editMode = false"
                                        >
                                            {{ 'Cancel' | i18n }}
                                        </button>
                                        <button *ngIf="editMode" class="btn btn-primary" type="button" (click)="save()">
                                            <i class="fa fa-save"></i> {{ 'Save' | i18n }}
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="col-sm-6">
                            <form class="form-horizontal">
                                <legend>{{ 'Change password' | i18n }}</legend>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'Old password' | i18n }}</label>
                                        <div class="col-md-10">
                                            <input
                                                [disabled]="!changePasswordMode"
                                                class="form-control"
                                                name="firstname"
                                                [(ngModel)]="changePasswordModel.oldPassword"
                                                type="password"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ 'New password' | i18n }}</label>
                                        <div class="col-md-10">
                                            <input
                                                [disabled]="!changePasswordMode"
                                                class="form-control"
                                                name="email"
                                                [(ngModel)]="changePasswordModel.newPassword"
                                                type="password"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: right">
                                        <button
                                            *ngIf="!changePasswordMode"
                                            class="btn btn-success"
                                            type="button"
                                            (click)="changePasswordMode = true"
                                        >
                                            {{ 'Edit' | i18n }}
                                        </button>
                                        <button
                                            *ngIf="changePasswordMode"
                                            class="btn btn-default"
                                            type="button"
                                            (click)="changePasswordMode = false"
                                        >
                                            {{ 'Cancel' | i18n }}
                                        </button>
                                        <button
                                            *ngIf="changePasswordMode"
                                            class="btn btn-primary"
                                            type="button"
                                            (click)="changePassword()"
                                        >
                                            <i class="fa fa-save"></i> {{ 'Save' | i18n }}
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </tab>
                <tab [active]="currentTab == 'subscriptionAndPayment'">
                    <table class="profile-table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:400px">{{ 'plan name' | i18n }}</th>
                                <th style="width:200px">
                                    {{ 'starter' | i18n }}
                                    <div
                                        style="float:right; padding:2px 10px; background-color:#25B8D8; border-radius:15px; color:white;"
                                    >
                                        {{ 'most popular' | i18n }}
                                    </div>
                                </th>
                                <th style="width:200px">{{ 'basic' | i18n }}</th>
                                <th style="width:200px">{{ 'pro' | i18n }}</th>
                            </tr>
                            <tr>
                                <th>{{ 'price' | i18n }}</th>
                                <th>{{ plans[0].price.toFixed(2) }} {{ plans[0].currency }} / {{'monthly'|i18n}}</th>
                                <th>{{ plans[1].price.toFixed(2) }} {{ plans[1].currency }} / {{'monthly'|i18n}}</th>
                                <th>{{ plans[2].price.toFixed(2) }} {{ plans[2].currency }} / {{'monthly'|i18n}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ 'amount of products' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>{{ plans[0].shopProductsLimit }}</td>
                                <td>{{ plans[1].shopProductsLimit }}</td>
                                <td>{{ plans[2].shopProductsLimit }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'amount of orders monthly' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>{{ 'unlimited' | i18n }}</td>
                                <td>{{ 'unlimited' | i18n }}</td>
                                <td>{{ 'unlimited' | i18n }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'margin TakeDrop' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'number of stores' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>{{ plans[0].shopsLimit }}</td>
                                <td>{{ plans[1].shopsLimit }}</td>
                                <td>{{ plans[2].shopsLimit }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'professional graphic design' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'discount codes' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'margin settings' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'ready e-mail templates' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'integration with BaseLinker' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'integration with PayU, PayPal and bank transfer' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'pixel facebook and events' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'product feed export in XML' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'sitemap' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'regulations' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'help center' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    {{ 'automatic order fulfillment' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'SSL certificate' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'support for over 50 languages' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'product update in AliExpress' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'direct import of products from Aliexpress' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'theme edition' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'domain edition' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'creating blog articles' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'crazy shopping mode' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'TakeStory - user relations' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'reminder about unpaid order' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'recovering abandoned baskets' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'user management' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'artificial intelligence' | i18n }}
                                    <div class="question-circle"><i class="fa fa-question"></i></div>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="green-check"><i class="fa fa-check"></i></div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'select plan' | i18n }}</td>
                                <td>
                                    <span *ngIf="selectedPlanNumber === 1" style="color: #bbb;">Current plan</span
                                    ><button
                                        *ngIf="!plans[0].isSelected"
                                        (click)="profilePlanModal.init({ planId: plans[0].id })"
                                        class="blue-select-btn"
                                    >
                                        {{ 'select' | i18n }}
                                    </button>
                                </td>
                                <td>
                                    <span *ngIf="selectedPlanNumber === 2" style="color: #bbb;">Current plan</span
                                    ><button
                                        *ngIf="!plans[1].isSelected"
                                        (click)="profilePlanModal.init({ planId: plans[1].id })"
                                        class="blue-select-btn"
                                    >
                                        {{ 'select' | i18n }}
                                    </button>
                                </td>
                                <td>
                                    <span *ngIf="selectedPlanNumber === 3" style="color: #bbb;">Current plan</span
                                    ><button
                                        *ngIf="!plans[2].isSelected"
                                        (click)="profilePlanModal.init({ planId: plans[2].id })"
                                        class="blue-select-btn"
                                    >
                                        {{ 'select' | i18n }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
    <payment-modal-component #profilePlanModal></payment-modal-component>
</div>
