<div class="row">
    <loader [isLoading]="isLoading"></loader>

    <div class="col-md-4 col-sm-12">
        <error-box [serverError]="serverError"></error-box>
        <div class="table-responsive">
            <table class="table table-bordered table-hover verticalMiddle">
                <thead>
                    <tr>
                        <td colspan="3">AliExpress ID</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aliExpressOffer of product.aliExpressOffers">
                        <td width="40px">
                            <div class="checkbox">
                                <label>
                                    <input
                                        [readonly]="aliExpressOffer.current"
                                        type="checkbox"
                                        (change)="updateSelectedOffers(aliExpressOffer)"
                                        class="checkbox"
                                        [checked]="aliExpressOffer.current"
                                        [(ngModel)]="aliExpressOffer.current"
                                    />
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <a
                                *ngIf="!aliExpressOffer.new"
                                target="_blank"
                                href="https://aliexpress.com/item/{{ aliExpressOffer.aliExpressId }}/{{
                                    aliExpressOffer.aliExpressId
                                }}.html?lan=en&aff_platform=link-c-tool&cpt=1562243112246&sk=bZQxguWG&aff_trace_key=e04bfd37b811434688ea074e72bda57a-1562243112246-05533-bZQxguWG&terminal_id=50b6c8fdef034d578263d31cb29ca538"
                            >
                                {{ aliExpressOffer.aliExpressId }}
                            </a>
                            <input
                                *ngIf="aliExpressOffer.new"
                                class="form-control"
                                [(ngModel)]="aliExpressOffer.aliExpressId"
                            />
                        </td>
                        <td style="width:70px" class="text-center">
                            <button
                                *ngIf="aliExpressOffer.new"
                                class="btn btn-xs btn-success"
                                (click)="saveNewOffer(aliExpressOffer)"
                            >
                                <i class=" fa fa-save"></i>
                            </button>

                            <button
                                class="btn btn-xs btn-danger"
                                (click)="delete(aliExpressOffer)"
                                [disabled]="newMode && !aliExpressOffer.new"
                            >
                                <i class=" fa fa-trash-o "></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="CanUserManageFilters()">
                        <td colspan="3" class="text-center">
                            <button class="btn btn-xs btn-default" (click)="addNewOffer()" [disabled]="newMode">
                                <i class="fa fa-fw fa-plus"></i> {{ 'Add' | i18n }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="CanUserManageFilters()" class="col-md-6 col-sm-12 ">
        <div class="checkbox">
            <label>
                <input
                    type="checkbox"
                    class="checkbox "
                    [checked]="product.ready"
                    [(ngModel)]="product.ready"
                    (change)="save()"
                />
                <span> {{ 'Ready' | i18n }}</span>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input
                    type="checkbox"
                    class="checkbox "
                    [checked]="product.hasOpinion"
                    [(ngModel)]="product.hasOpinion"
                    (change)="save()"
                />
                <span> {{ 'Opinion set' | i18n }}</span>
            </label>
        </div>
        <div class="checkbox ">
            <label>
                <input
                    type="checkbox"
                    class="checkbox "
                    [checked]="product.available"
                    [(ngModel)]="product.available"
                    (change)="save()"
                />
                <span> {{ 'Available' | i18n }}</span>
            </label>
        </div>
        <div class="checkbox ">
            <label>
                <input
                    type="checkbox"
                    class="checkbox "
                    [checked]="product.isBestseller"
                    [(ngModel)]="product.isBestseller"
                    (change)="save()"
                />
                <span> {{ 'Bestseller' | i18n }}</span>
            </label>
        </div>
        <div class="checkbox ">
            <label>
                <input
                    type="checkbox"
                    class="checkbox "
                    [checked]="product.excludedFromFacebookFeed"
                    [(ngModel)]="product.excludedFromFacebookFeed"
                    (change)="save()"
                />
                <span> {{ 'Excluded from facebook feed' | i18n }}</span>
            </label>
        </div>
    </div>
</div>
