<div bsModal #modal="bs-modal" class="modal  fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <error-box [serverError]="serverError"></error-box>
                    <loader [isLoading]="isLoading"></loader>

                    <div class="col-sm-12">
                        <h2 style="margin-top: 0;font-weight: 400;color: #666;">
                            {{ 'Edit invoice data' | i18n }}
                        </h2>
                        <!-- <form class="profile-plan-form" (ngSubmit)="updateInvoice($event)"> -->
                        <div class="form-group" style="display: flex;">
                            <div class="form-check" style="margin-right: 10px;">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="invoiceType"
                                    id="invoiceType1"
                                    value="Company"
                                    [(ngModel)]="invoiceModel.invoiceType"
                                    checked
                                />
                                <label class="form-check-label" for="invoiceType1">
                                    {{ 'Business' | i18n }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="invoiceType"
                                    id="invoiceType2"
                                    value="PersonalCapacity"
                                    [(ngModel)]="invoiceModel.invoiceType"
                                />
                                <label class="form-check-label" for="invoiceType2">
                                    {{ 'Personal capacity' | i18n }}
                                </label>
                            </div>
                        </div>
                        <div *ngIf="isCompanyInvoiceType()" class="form-group" style="position: relative">
                            <span style="position: absolute;pointer-events: none;color: #999;">
                                {{ 'Company name' | i18n }}</span
                            ><input
                                class="profile-plan-data-input"
                                name="companyName"
                                [(ngModel)]="invoiceModel.companyName"
                                type="text"
                            />
                        </div>
                        <div *ngIf="isCompanyInvoiceType()" class="form-group" style="position: relative">
                            <span style="position: absolute;pointer-events: none;color: #999;">{{ 'NIP' | i18n }}</span
                            ><input class="profile-plan-data-input" [(ngModel)]="invoiceModel.nip" name="nip" />
                        </div>
                        <div class="form-group" style="position: relative">
                            <span style="position: absolute;pointer-events: none;color: #999;">{{
                                'Street' | i18n
                            }}</span
                            ><input class="profile-plan-data-input" [(ngModel)]="invoiceModel.street" name="street" />
                        </div>
                        <div class="form-group" style="position: relative">
                            <span style="position: absolute;pointer-events: none;color: #999;">{{
                                'Post code' | i18n
                            }}</span
                            ><input
                                class="profile-plan-data-input"
                                [(ngModel)]="invoiceModel.postCode"
                                name="postCode"
                            />
                        </div>
                        <div class="form-group" style="position: relative">
                            <span style="position: absolute;pointer-events: none;color: #999;">{{ 'City' | i18n }}</span
                            ><input class="profile-plan-data-input" [(ngModel)]="invoiceModel.city" name="city" />
                        </div>
                        <div class="form-group" style="border-bottom: 1px solid #aaa;">
                            <label style="color: #999;">{{ 'Country' | i18n }}</label>
                            <ul class="ng-cloak" style="list-style: none;margin-left: -40px;">
                                <li class="dropdown" dropdown>
                                    <a class="dropdown-toggle" dropdownToggle style="display: block;width: 100%;">
                                        <img
                                            src="assets/img/blank.gif"
                                            class="flag flag-{{ currentCountry.code }}"
                                            alt=""
                                        />
                                        <span style="color:black;"> {{ currentCountry.name }} </span>
                                        <i class="fa fa-angle-down" style="float:right;"></i>
                                    </a>
                                    <ul *dropdownMenu class="dropdown-menu">
                                        <li
                                            [class.active]="country == currentCountry"
                                            *ngFor="let country of countries"
                                        >
                                            <a (click)="setCountry(country)" class="dropdown-item"
                                                ><img
                                                    src="assets/img/blank.gif"
                                                    class="flag flag-{{ country.code }}"
                                                    alt="{{ country.alt }}"
                                                />
                                                {{ country.name }}</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <button (click)="updateInvoice()" class="btn btn-success">
                            <i class=" fa fa-check"></i> {{ 'Save changes' | i18n }}
                        </button>
                        <button class="btn btn-danger" (click)="hide()">
                            <i class=" fa fa-check"></i> {{ 'Cancel' | i18n }}
                        </button>
                    </div>
                    <div>
                        <button
                            [disabled]="!isFormValid()"
                            (click)="pay()"
                            class="btn btn-success"
                            style="float: right;"
                        >
                            <i class=" fa fa-check"></i> {{ 'Pay' | i18n }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
