<loader [isLoading]="isLoading"></loader>
<error-box [serverError]="serverError"></error-box>

<form class="form-horizontal" *ngIf="selectedDetails">
    <fieldset>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-md-8">
                    <span class="control-label"> {{ 'Language' | i18n }}</span>
                    <language
                        ngDefaultControl
                        name="lang"
                        (ngModelChange)="languageChanged()"
                        [(ngModel)]="selectedLanguageId"
                    ></language>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" style="margin-top:18px" (click)="setDefaultLang()">
                        {{ 'Set default for' | i18n }}: {{ getLanguageName(this.selectedLanguageId) }}
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <span class="control-label"> {{ 'Name' | i18n }}</span>
                    <textarea
                        style="margin-top:8px"
                        name="name"
                        class="form-control"
                        [(ngModel)]="selectedDetails.name"
                        rows="3"
                    ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" *ngIf="!isLoading">
                    <span class="control-label"> {{ 'Short description' | i18n }}</span>
                    <div style="margin-top:8px">
                        <div
                            [summernote]
                            [text]="selectedDetails.shortDescription"
                            (change)="shortDescChanged($event)"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <button style="margin-top:272px" class="btn btn-success" (click)="save()">{{ 'Save' | i18n }}</button>
        </div>
        <div class="form-group">
            <div class="col-md-12" *ngIf="!isLoading">
                <span class="control-label"> {{ 'Full description' | i18n }}</span>
                <div>
                    <div class="checkbox">
                        <label>
                            <input
                                type="checkbox"
                                (change)="changeDescriptionPhotosVisibility()"
                                class="checkbox"
                                [checked]="hiddenDescriptionPhotos"
                                [(ngModel)]="hiddenDescriptionPhotos"
                                [ngModelOptions]="{ standalone: true }"
                            />
                            <span>{{ 'Hide photos from description in shop' | i18n }}</span>
                        </label>
                    </div>
                </div>
                <div style="margin-top:8px">
                    <div [summernote] [text]="selectedDetails.fullDescription" (change)="descChanged($event)"></div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
