<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Users']"
            icon="user"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr *ngIf="!isAnyChecked()" style="height: 84px">
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Id' | i18n }}"
                                [(ngModel)]="request.filter.id"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'SetId' | i18n }}"
                                [(ngModel)]="request.filter.shopSetId"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Full name' | i18n }}"
                                [(ngModel)]="request.filter.name"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Email' | i18n }}"
                                [(ngModel)]="request.filter.email"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Phone number' | i18n }}"
                                [(ngModel)]="request.filter.phoneNumber"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Plan name' | i18n }}"
                                [(ngModel)]="request.filter.planName"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Domains' | i18n }}"
                                [(ngModel)]="request.filter.domain"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        class="checkbox"
                                        (ngModelChange)="
                                            request.filter.hideTeamMembers = !request.filter.hideTeamMembers; init()
                                        "
                                        [(ngModel)]="request.filter.hideTeamMembers"
                                        [checked]="request.filter.hideTeamMembers"
                                    />
                                    <span>{{ 'Hide team members' | i18n }}</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="orderable" (click)="setOrder($event)" name="id" style="width:5%">
                            {{ 'Id' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="shopSetId" style="width:5%">
                            {{ 'Set Id' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td style="width:18%">{{ 'Name' | i18n }}</td>
                        <td style="width:14%">{{ 'Email' | i18n }}</td>
                        <td style="width:10%">{{ 'Phone number' | i18n }}</td>
                        <td style="width:8%">{{ 'Subscription' | i18n }}</td>
                        <td style="width:8%">{{ 'Last log in' | i18n }}</td>
                        <td style="width:8%">{{ 'Register date' | i18n }}</td>
                        <td style="width:8%">{{ 'Domains' | i18n }}</td>
                        <td style="width:18%">
                            <a class="btn btn-xs btn-info" (click)="init()"> <i class="fa fa-refresh"></i> Refresh </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let user of users
                                | paginate
                                    : {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: request.currentPage,
                                          totalItems: response.totalItems,
                                          id: 'allUsers'
                                      }
                        "
                    >
                        <td>{{ user.id }}</td>
                        <td>{{ user.shopSetId }}</td>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.planName }}</td>
                        <td>{{ user.lastLogInDate }}</td>
                        <td>{{ user.registerDate }}</td>
                        <td>
                            <p *ngIf="user.isTeamMember">'[team member]'</p>
                            <p *ngFor="let shop of user.shops" (click)="changeShop(shop)" class="domain-p">
                                {{ shop.domain }}
                            </p>
                        </td>
                        <td>
                            <a routerLink="{{ user.id }}" class="btn btn-info btn-xs"
                                ><i class="fa fa-edit"></i> Edytuj</a
                            >
                            <button class="btn btn-success btn-xs" (click)="createPaymentModal.init(user.shopSetId)">
                                <i class="fa fa-usd"></i>
                            </button>
                            <a
                                class="btn btn-danger btn-xs"
                                [hidden]="!canDeleteUser(user)"
                                (click)="deleteUser(user.id)"
                                ><i class="fa fa-trash"></i
                            ></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="pagination-row">
                        <td colspan="12">
                            <pagination-wrapper (pageChange)="pageChange($event)" id="allUsers"></pagination-wrapper>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<create-payment-modal #createPaymentModal (close)="init()"></create-payment-modal>
