<div class="col-sm-8">
    <error-box [serverError]="serverError"></error-box>
    <loader [isLoading]="isLoading"></loader>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td width="10%"></td>
                <td width="20%">
                    <input type="text" class="form-control" placeholder="{{'AliExpressId' | i18n}}" [(ngModel)]="request.filter.aliExpressId"
                        [debounce]="500" (onDebounce)="ngOnInit()">
                </td>
                <td width="40%">
                    <input type="text" class="form-control" placeholder="{{'Name' | i18n}}" [(ngModel)]="request.filter.name"
                        [debounce]="500" (onDebounce)="ngOnInit()">
                </td>
                <td width="15%"></td>
                <td width="15%"></td>
            </tr>
            <tr>
                <td>{{'Id' | i18n}}</td>
                <td>{{'AliExpressId' | i18n}}</td>
                <td>{{'Name' | i18n}}</td>
                <td></td>
                <td class="text-center">
                    <button (click)="ngOnInit()" class="btn btn-default btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shop of response.data  | paginate: { itemsPerPage: itemsPerPage, currentPage: request.currentPage, totalItems:response.totalItems, id:'aliexpress-shops' }">
                <td>{{shop.id}}</td>
                <td>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.aliexpress.com/store/{{shop.aliExpressId}} ">
                        {{shop.aliExpressId}}
                    </a>
                </td>
                <td>{{shop.name}}</td>
                <td><span *ngIf="shop.isImported" class="label label-success">{{'Imported' | i18n}}</span></td>
                <td>
                    <a class="btn btn-xs btn-info" (click)="shopDetailsModal.init(shop)">
                        <i class="fa fa-fw fa-info"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="pagination-row">
                <td colspan="5">
                    <pagination-wrapper (pageChange)="pageChange($event)" id="aliexpress-shops"></pagination-wrapper>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<aliexpress-shop-details-modal-component #shopDetailsModal></aliexpress-shop-details-modal-component>