<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Order fail' | i18n]"
            icon="star"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <loader [isLoading]="isLoading"></loader>
            <error-box [serverError]="serverError"></error-box>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped verticalMiddle">
                    <thead>
                        <tr>
                            <td>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Id produktu"
                                    [(ngModel)]="request.filter.productId"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                                <input
                                    type="text"
                                    style="margin-top:5px"
                                    class="form-control"
                                    placeholder="AliExpress ID"
                                    [(ngModel)]="request.filter.aliExpressId"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="{{ 'Order ID' | i18n }}"
                                    [(ngModel)]="request.filter.orderId"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                                <input
                                    style="margin-top:5px"
                                    type="text"
                                    class="form-control"
                                    placeholder="{{ 'BaseLinker ID' | i18n }}"
                                    [(ngModel)]="request.filter.baseLinkerOrderId"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                            </td>
                            <td>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="{{ 'Powód' | i18n }}"
                                    [(ngModel)]="request.filter.reason"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td
                                class="text-center"
                                style="width:16%"
                                class="orderable"
                                (click)="setOrder($event)"
                                name="productId"
                            >
                                Produkt
                            </td>
                            <td
                                class="text-center"
                                style="width:16%"
                                class="orderable"
                                (click)="setOrder($event)"
                                name="orderId"
                            >
                                Zamówienie
                            </td>
                            <td
                                class="text-center"
                                style="width:16%"
                                class="orderable"
                                (click)="setOrder($event)"
                                name="reason"
                            >
                                Powód
                            </td>
                            <td class="text-center" style="width:16%">Kombinacja</td>
                            <td class="text-center" style="width:16%">Dostępne kombinacje</td>
                            <td class="text-center" style="width:16%">
                                <button class="btn btn-xs btn-default" (click)="init()">
                                    <i class="fa fa-refresh"></i> Refresh
                                </button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let fail of response.data
                                    | paginate
                                        : {
                                              itemsPerPage: itemsPerPage,
                                              currentPage: request.currentPage,
                                              totalItems: response.totalItems,
                                              id: 'fail'
                                          }
                            "
                        >
                            <td>
                                <div style="position: relative">
                                    <div style="margin-bottom:5px">
                                        Id: <a routerLink="/products/{{ fail.productId }}"> {{ fail.productId }} </a>
                                    </div>
                                    Ali:
                                    <a
                                        target="_blank"
                                        href="https://www.aliexpress.com/item/{{ fail.aliExpressProductId }}.html"
                                    >
                                        {{ fail.aliExpressProductId }}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div style="margin-bottom:5px">{{ fail.orderDate }}</div>
                                <div style="margin-bottom:5px">
                                    ID: <a routerLink="/orders/{{ fail.orderId }}">{{ fail.orderId }}</a>
                                </div>
                                BL:
                                <a
                                    target="_blank"
                                    href="https://panel.baselinker.com/orders.php#order:{{ fail.baseLinkerOrderId }}"
                                    >{{ fail.baseLinkerOrderId }}</a
                                >
                            </td>
                            <td>{{ fail.reason }}</td>
                            <td>
                                <div *ngFor="let variant of fail.orderProductVariants">
                                    <div class="thumbnail" *ngIf="variant.imageUrl">
                                        <img
                                            [src]="getImageUrl(variant.imageUrl)"
                                            style="width:200px"
                                            class="img-thumbnail rounded mx-auto d-block "
                                        />
                                    </div>
                                </div>
                                <div style="margin-top:15px">
                                    <span *ngFor="let variant of fail.orderProductVariants">
                                        {{ variant.originalName }}: {{ variant.originalValue }} <br />
                                    </span>
                                </div>
                            </td>
                            <td>
                                <img
                                    *ngIf="fail.newCombinationImage"
                                    [src]="getImageUrl(fail.newCombinationImage)"
                                    style="width:200px"
                                    class="img-thumbnail rounded mx-auto d-block "
                                />
                                <select
                                    *ngIf="fail.avaliableCombinations && fail.avaliableCombinations.length > 0"
                                    style="margin-top:5px"
                                    class="form-control"
                                    [(ngModel)]="fail.newCombinationId"
                                    (change)="getCombinationImage(fail)"
                                >
                                    <option
                                        *ngFor="let combination of fail.avaliableCombinations"
                                        [ngValue]="combination.id"
                                    >
                                        <span *ngFor="let variant of combination.variants">
                                            {{ variant.originalName }}: {{ variant.originalValue }}
                                        </span></option
                                    >
                                </select>
                            </td>
                            <td>
                                <div *ngIf="fail.loadingCombinations">Loading...</div>

                                <div *ngIf="!fail.loadingCombinations">
                                    <button class="btn btn-success" (click)="getFailDetails(fail)">
                                        <i class="fa fa-download"></i> Szczegóły
                                    </button>
                                    <button
                                        class="btn btn-info"
                                        (click)="combinationModal.init(getCombinationModalDetails(fail))"
                                    >
                                        <i class="fa fa-edit"></i> Zapisz
                                    </button>

                                    <button class="btn btn-danger" (click)="deleteFail(fail.id)">
                                        <i class="fa fa-trash-o"></i> Usuń
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="pagination-row">
                            <td colspan="6">
                                <pagination-wrapper (pageChange)="pageChange($event)" id="fail"></pagination-wrapper>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<combination-modal-component #combinationModal (close)="handleCombinationUpdate($event)"></combination-modal-component>
