<div class="login__container">
    <div class="login">
        <div class="login-bg"></div>
        <img [src]="'assets/img/login/login-image.svg'" alt="obrazek paczki ze strony logowania" class="login__image" />
        <loader [isLoading]="isLoading"></loader>
        <div class="login__form">
            <div *ngIf="emailSent"><p>{{'The link has been sent to the email provided' |i18n}}.</p></div>
            <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="resetPasswordForm.valid && reset()"
                #formDir="ngForm"
                *ngIf="!emailSent"
            >
                <div id="login-error">
                    <div class="login__error" *ngIf="(formDir.submitted && email.invalid) || serverError">
                        <div *ngIf="email.errors?.email">{{'Email invalid' |i18n}}</div>
                        {{ serverError }}
                    </div>
                </div>
                <p>{{'Enter the e-mail address to which the password reset link will be sent' |i18n}}.</p>
                <input
                    autocomplete="username"
                    formControlName="email"
                    id="email"
                    class="login__input"
                    type="email"
                    placeholder="{{ 'Email' | i18n }}"
                    required
                />
                <div class="login__loading" *ngIf="isLoading">
                    <loaders-css [loader]="'ball-pulse'" [loaderClass]="'login'"></loaders-css>
                </div>
                <button class="login__submit" type="submit" *ngIf="!isLoading">
                    {{'Send' |i18n}}
                </button>
            </form>
        </div>
        <img class="login__decorator" [src]="'assets/img/login/decorator.svg'" alt="dekoracja narożnika" />
    </div>
    <div class="login__goToRegister">
        <a routerLink="/register" class="login__goToRegisterButton">{{'Register' |i18n}}</a>
        <a routerLink="/login" class="login__goToRegisterButton">{{'Login' |i18n}}</a>
    </div>
</div>
