<div>
    <div class="col-sm-4">
        <div *ngFor="let set of shopSets">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            <p style="font-weight: bold">{{ 'Set id' | i18n }}: {{ set.id }}</p>
                            <p style="font-weight: bold">{{ 'Set name' | i18n }}: {{ set.name }}</p>
                        </th>
                    </tr>
                    <tr>
                        <th>{{ 'Shop id' | i18n }}</th>
                        <th>{{ 'Shop name' | i18n }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shop of set.shops">
                        <td>{{ shop.id }}</td>
                        <td>{{ shop.name }}</td>
                        <td>
                            <button (click)="moveShopModal.init(shop)"><i class="fa fa-files-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<users-shop-modal #moveShopModal (refresh)="refreshUsers()"></users-shop-modal>
