<div class="col-sm-6">
    <error-box [serverError]="serverError"></error-box>
    <loader [isLoading]="isLoading"></loader>

    <div class="row">
        <div class="col-sm-6" style="margin-bottom:20px">
            <h4>{{ 'Meta image' | i18n }}</h4>
            <div class="col-sm-12">
                <img src="{{ metaUrl }}" style="width: 100%;" />
            </div>
            <input style="margin-top:5px; float:left" accept=".png" [(ngModel)]="metaFilePath" type="file" #metaFile />
            <button [disabled]="!metaFilePath" class="btn btn-default" (click)="uploadMetaImage()">
                {{ 'Save meta image' | i18n }}
            </button>
        </div>
    </div>
</div>
