<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Products' | i18n]"
            icon="shopping-cart"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <div style="margin-bottom:20px">
                <button
                    class="btn btn-md btn-default"
                    [ngClass]="{ 'btn-success': request.filter.listMode == 'shop' }"
                    (click)="selectTab('shop')"
                >
                    <i class="fa fa-check" *ngIf="request.filter.listMode == 'shop'"></i>
                    {{ 'Products in your shop' | i18n }}
                </button>
                <div style="display: inline-block">
                    <button
                        class="btn btn-md btn-default"
                        [ngClass]="{ 'btn-success': request.filter.listMode == 'available' }"
                        (click)="selectTab('available')"
                    >
                        <i class="fa fa-check" *ngIf="request.filter.listMode == 'available'"></i>
                        {{ 'Available products' | i18n }}
                    </button>
                    <button
                        *ngIf="hasUserPermission('CanUpdateGlobalProduct')"
                        class="btn btn-md btn-default"
                        [ngClass]="{ 'btn-success': request.filter.listMode == 'all' }"
                        (click)="selectTab('all')"
                    >
                        <i class="fa fa-check" *ngIf="request.filter.listMode == 'all'"></i> {{ 'All products' | i18n }}
                    </button>
                </div>
                <div style="float:right;">
                    <button class="btn btn-md btn-default" (click)="importProductModal.init()">
                        <i class="fa fa-check" *ngIf="request.filter.listMode == 'all'"></i>
                        {{ 'Import product by URL or ID' | i18n }}
                    </button>
                </div>
            </div>
            <div>
                <p *ngIf="!isLoading && request.filter.listMode == 'shop'">
                    {{ 'You have' | i18n }} {{ response.totalItems }}/{{ response.totalItemsLimit }}
                    {{ 'products' | i18n }}.
                    <a href="/profile">{{ 'Need more? Send email to help@takeshop.pl' | i18n }}</a>
                </p>
            </div>
            <table class="table table-bordered table-striped verticalMiddle">
                <thead>
                    <tr *ngIf="isAnyChecked()" style="height: 84px">
                        <td colspan="11">
                            <button
                                *ngIf="showAddProductButton()"
                                class="btn btn-success"
                                (click)="addProductsToShop()"
                            >
                                <i class="fa fa-plus"></i> {{ 'Add to shop' | i18n }}
                            </button>
                            <button
                                *ngIf="showDeleteProductButton()"
                                class="btn btn-danger"
                                style="margin-left:20px"
                                (click)="deleteMany()"
                            >
                                <i class="fa fa-trash-o"></i> {{ 'Delete selected' | i18n }}
                            </button>
                            <button
                                *ngIf="showUpdateProductButton()"
                                class="btn btn-info"
                                style="margin-left:20px"
                                (click)="updateMany()"
                            >
                                <i class="fa fa-refresh"></i> {{ 'Force update' | i18n }}
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!isAnyChecked()" style="height: 84px">
                        <td></td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Id' | i18n }}"
                                [(ngModel)]="request.filter.id"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'AliExpressID' | i18n }}"
                                [(ngModel)]="request.filter.aliExpressOfferId"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Name' | i18n }}"
                                [(ngModel)]="request.filter.name"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td>
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="{{ 'Category' | i18n }}"
                                    [(ngModel)]="request.filter.aliExpressCategoryName"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                                <div class="input-group-btn">
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-secondary dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            (click)="categoryFilterModal.init({})"
                                        >
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p *ngIf="request.filter.aliExpressCategoryId">
                                {{ 'AliExpress Category Id' | i18n }} {{ request.filter.aliExpressCategoryId }}
                            </p>
                        </td>
                        <td>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{ 'Sellers name' | i18n }}"
                                [(ngModel)]="request.filter.aliExpressShopName"
                                [debounce]="500"
                                (onDebounce)="init()"
                            />
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="input-group">
                                <input
                                    readonly
                                    placeholder="{{ 'From' | i18n }}"
                                    class="form-control datepicker"
                                    [saUiDatepicker]
                                    [ngModel]="request.filter.dateStart | date: 'shortDate'"
                                    (ngModelChange)="request.filter.dateStart = $event"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                                <div class="input-group-btn">
                                    <button
                                        class="btn btn-default"
                                        type="button"
                                        (click)="request.filter.dateStart = null"
                                    >
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group" style="margin-top:3px">
                                <input
                                    readonly
                                    placeholder="{{ 'To' | i18n }}"
                                    class="form-control datepicker"
                                    [saUiDatepicker]
                                    [ngModel]="request.filter.dateEnd | date: 'shortDate'"
                                    (ngModelChange)="request.filter.dateEnd = $event"
                                    [debounce]="500"
                                    (onDebounce)="init()"
                                />
                                <div class="input-group-btn">
                                    <button
                                        class="btn btn-default"
                                        type="button"
                                        (click)="request.filter.dateEnd = null"
                                    >
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div *ngIf="request.filter.listMode === 'all'">
                                <div class="checkbox">
                                    <label>
                                        <input
                                            type="checkbox"
                                            class="checkbox"
                                            [debounce]="100"
                                            (onDebounce)="init()"
                                            [checked]="request.filter.onlyNotAvailable"
                                            [(ngModel)]="request.filter.onlyNotAvailable"
                                        />
                                        <span>{{ 'Not available' | i18n }}</span>
                                    </label>
                                </div>
                                <br />
                                <div class="checkbox">
                                    <label>
                                        <input
                                            type="checkbox"
                                            class="checkbox"
                                            [debounce]="100"
                                            (onDebounce)="init()"
                                            [checked]="request.filter.onlyNotReady"
                                            [(ngModel)]="request.filter.onlyNotReady"
                                        />
                                        <span>{{ 'Not ready' | i18n }}</span>
                                    </label>
                                </div>
                                <br />
                                <div class="checkbox">
                                    <label>
                                        <input
                                            type="checkbox"
                                            class="checkbox"
                                            [debounce]="100"
                                            (onDebounce)="init()"
                                            [checked]="request.filter.noShortDescription"
                                            [(ngModel)]="request.filter.noShortDescription"
                                        />
                                        <span>{{ 'No short description' | i18n }}</span>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <td width="40px">
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        class="checkbox"
                                        (click)="checkAll()"
                                        [(ngModel)]="checkedAll"
                                        [checked]="checkedAll"
                                    />
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="id" width="120px">
                            {{ 'ID' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="aliExpressOfferId" width="120px">
                            {{ 'AliExpress ID' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="name" width="320px">
                            {{ 'Name' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="aliExpressCategoryName" width="300px">
                            {{ 'Aliexpress category' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="aliExpressShopName" width="300px">
                            {{ 'Sellers name' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>
                        <td class="orderable" (click)="setOrder($event)" name="maxPrice" width="150px">
                            {{ 'Base price' | i18n }} <i [ngClass]="orderRuleClass"></i>
                        </td>

                        <td width="150px">
                            <span class="orderable profit">
                                {{ 'Sold' | i18n }} <i [ngClass]="orderRuleClass"></i>
                            </span>
                        </td>
                        <td width="150px">{{ 'Last update date' | i18n }}</td>
                        <td width="150px">{{ 'Status' | i18n }}</td>
                        <td width="280px">
                            <button
                                [disabled]="isLoading"
                                class="btn btn-default btn-xs"
                                style="width:100%"
                                (click)="init()"
                            >
                                <i class="fa fa-refresh"></i>
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!isLoading && response.data.length == 0">
                        <td colspan="12">
                            <div class="text-center">{{ 'No results' | i18n }}</div>
                        </td>
                    </tr>

                    <tr
                        *ngFor="
                            let product of response.data
                                | paginate
                                    : {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: request.currentPage,
                                          totalItems: response.totalItems,
                                          id: 'allProducts'
                                      }
                        "
                    >
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        class="checkbox"
                                        (ngModelChange)="product.checked = !product.checked"
                                        [(ngModel)]="product.checked"
                                        [checked]="product.checked"
                                    />
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="productImageDiv ">
                                <div class="thumbnail " *ngIf="product.photo">
                                    <img
                                        [src]="product.photo.thumbnailUrl_50px"
                                        class="img-thumbnail rounded mx-auto d-block "
                                    />
                                    <span>
                                        <img [src]="product.photo.imageUrl" class="rounded mx-auto d-block " />
                                    </span>
                                </div>
                                <a target="_blank" href="//{{ currentShop.domain }}/{{ product.id }}?lan=en&aff_platform=link-c-tool&cpt=1562243112246&sk=bZQxguWG&aff_trace_key=e04bfd37b811434688ea074e72bda57a-1562243112246-05533-bZQxguWG&terminal_id=50b6c8fdef034d578263d31cb29ca538">{{
                                    product.id
                                }}</a>
                            </div>
                        </td>
                        <td class="text-center ">
                            <a
                                target="_blank "
                                href="https://pl.aliexpress.com/item/{{ product.aliExpressOfferId }}.html?lan=en&aff_platform=link-c-tool&cpt=1562243112246&sk=bZQxguWG&aff_trace_key=e04bfd37b811434688ea074e72bda57a-1562243112246-05533-bZQxguWG&terminal_id=50b6c8fdef034d578263d31cb29ca538"
                                >{{ product.aliExpressOfferId }}</a
                            >
                        </td>
                        <td>
                            {{ product.name }}<br />
                            <span *ngIf="product.displayName"
                                >(<strong>{{ product.displayName }}</strong
                                >) | <a (click)="generateDisplayName(product.id)">zmień</a></span
                            >
                        </td>
                        <td [innerHTML]="product.aliExpressCategoryName"></td>
                        <td class="text-center">
                            {{ product.aliExpressShopName }} <br />
                            <a
                                target="_blank"
                                rel="noopener noreferrer"
                                href="https://www.aliexpress.com/store/{{ product.aliExpressShopId }}?lan=en&aff_platform=link-c-tool&cpt=1562243112246&sk=bZQxguWG&aff_trace_key=e04bfd37b811434688ea074e72bda57a-1562243112246-05533-bZQxguWG&terminal_id=50b6c8fdef034d578263d31cb29ca538"
                                >{{ product.aliExpressShopId }}</a
                            >
                        </td>
                        <td style="text-align: center ">
                            {{ product.minPrice | number: '0.2-2' }} {{ product.currencySymbol }}
                            <span *ngIf="product.minPrice != product.maxPrice">
                                - {{ product.maxPrice | number: '0.2-2' }} {{ product.currencySymbol }}</span
                            >
                        </td>
                        <td class="text-center ">
                            <span class="profit "> {{ product.aliExpressSold }}</span>
                        </td>
                        <td class="text-center">{{ product.lastUpdateDate | date: 'short' }}</td>
                        <td>
                            <div *ngIf="request.filter.listMode == 'all'">
                                <label class="label label-danger " style="display:block" *ngIf="!product.available">{{
                                    'Not available' | i18n
                                }}</label>
                                <label
                                    class="label label-danger"
                                    style="display:block; margin-top:5px"
                                    *ngIf="!product.ready"
                                    >{{ 'Not ready' | i18n }}</label
                                >
                            </div>
                        </td>
                        <td class="text-center ">
                            <div
                                [hidden]="
                                    request.filter.listMode != 'shop' && !hasUserPermission('CanUpdateGlobalProduct')
                                "
                            >
                                <button
                                    class="btn btn-md btn-success"
                                    data-toggle="tooltip"
                                    title="{{ 'update product' | i18n }}"
                                    (click)="
                                        hasUserPermission('CanUpdateGlobalProduct') ||
                                        hasUserPermission('CanUpdateShopProduct')
                                            ? forceUpdate(product.id)
                                            : notAvailableUpdateModal.init()
                                    "
                                >
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-md btn-default" routerLink="{{ product.id }}">
                                    <i class="glyphicon glyphicon-edit "></i>
                                </button>
                                <button class="btn btn-md btn-danger " (click)="delete(product.id)">
                                    <i class="glyphicon glyphicon-trash "></i>
                                </button>

                                <a
                                    class="btn  btn-md btn-info "
                                    target="_blank "
                                    href="http://www.aliprice.com/Index/search.html?link=http://www.aliexpress.com/item//{{
                                        product.aliExpressOfferId
                                    }}.html "
                                >
                                    <i class="fa fa-fw fa-usd"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="pagination-row">
                        <td colspan="11">
                            <pagination-wrapper (pageChange)="pageChange($event)" id="allProducts"></pagination-wrapper>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<group-update-component #groupUpdateModal (close)="init()"></group-update-component>
<products-category-filter-modal-component
    #categoryFilterModal
    (close)="test($event)"
></products-category-filter-modal-component>
<product-import-modal-component #importProductModal (close)="init()"></product-import-modal-component>
<not-available-update-modal-component #notAvailableUpdateModal (close)="init()"></not-available-update-modal-component>
