<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <legend style="padding-bottom: 15px;">
                    {{ 'Comments' | i18n }}
                    <button type="button" class="btn btn-default pull-right" (click)="detailsModal.init({orderId: order.id})">
                            <i class="fa fa-plus"></i> {{ 'Add comment' | i18n }}
                        </button>
                </legend>
            </div>
        </div>
        <div class="row" *ngFor="let comment of comments">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{comment.firstName}} {{comment.lastName}}</strong> <span class="text-muted">commented on {{ comment.date }}</span>
                        <button type="button" class="btn btn-xs btn-danger pull-right" (click)="delete(comment.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="panel-body" [innerHTML]="comment.content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<add-comment-modal #detailsModal [order]="order" (close)="ngOnInit($event)"></add-comment-modal>
