<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ 'Dodaj hurtowo na podstawie BL' | i18n }}
            </div>
            <div class="modal-body">
                <div class="row">
                    <error-box [serverError]="serverError"></error-box>
                    <loader [isLoading]="isLoading"></loader>
                    <h3>Uwaga, te zamówienia zostaną zrealizowane bez względu na status płatności w adminie!</h3>
                    <textarea
                        placeholder="Numery BL oddzielone przecinkiem. Spacje bez znaczenia"
                        class="form-control"
                        [(ngModel)]="orderIds"
                    >
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="hide()">
                    {{ 'Cancel' | i18n }}
                </button>
                <button class="btn btn-success" (click)="save()">
                    {{ 'Save' | i18n }}
                </button>
            </div>
        </div>
    </div>
</div>
