<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Szablon', selectedTemplate.name]"
            icon="envelope"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="control-label">{{ 'Email title' | i18n }}</label>
                    <input class="form-control" [(ngModel)]="selectedTemplate.title" />
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'Choose Language' | i18n }}</label>
                    <language
                        ngDefaultControl
                        (ngModelChange)="changeSelectedTemplate($event)"
                        [(ngModel)]="selectedLanguageId"
                    ></language>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ 'Email content' | i18n }}</label>
                    <div class="form-group" *ngIf="!isLoading">
                        <div class="col-md-4" style="margin-left: -15px">
                            <div
                                style="margin-top:8px; background-color: rgba(48,126,204,.05); border: 1px solid #a9a9a9; border-radius:1px; padding:10px; color:#5d5d5d"
                            >
                                <span style="font-weight: bold">{{ 'Tag list' | i18n }}</span>
                                <span>{{ '(click to paste in message content)' | i18n }}</span>
                                <div style="margin-top:10px;">
                                    <p style="font-weight: bold; border-bottom:1px solid #a9a9a9; border-top:1px solid #a9a9a9;">Zamówienie</p>
                                    <p
                                        *ngFor="let tag of tagsList.Order"
                                        style="font-weight: bold; cursor:pointer"
                                        (click)="clickTag($event)"
                                    >
                                        [{{ tag | i18n }}]
                                    </p>
                                    <p style="font-weight: bold; border-bottom:1px solid #a9a9a9; border-top:1px solid #a9a9a9;">Produkty</p>
                                    <p>Tagi z produktami należy obudować za pomocą [product_wrapper] na początku oraz [/product_wrapper] na końcu</p>
                                    <p
                                        *ngFor="let tag of tagsList.Products"
                                        style="font-weight: bold; cursor:pointer"
                                        (click)="clickTag($event)"
                                    >
                                        [{{ tag | i18n }}]
                                    </p>
                                    <p style="font-weight: bold; border-bottom:1px solid #a9a9a9; border-top:1px solid #a9a9a9;">Kupiec</p>
                                    <p
                                        *ngFor="let tag of tagsList.Customer"
                                        style="font-weight: bold; cursor:pointer"
                                        (click)="clickTag($event)"
                                    >
                                        [{{ tag | i18n }}]
                                    </p>
                                    <p style="font-weight: bold; border-bottom:1px solid #a9a9a9; border-top:1px solid #a9a9a9;">Sklep</p>
                                    <p
                                        *ngFor="let tag of tagsList.Shop"
                                        style="font-weight: bold; cursor:pointer"
                                        (click)="clickTag($event)"
                                    >
                                        [{{ tag | i18n }}]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div style="margin-top:8px;margin-right: -30px;">
                                <div
                                    id="summernote"
                                    [summernote]
                                    [text]="selectedTemplate.content"
                                    (change)="descChanged($event)"
                                    on-blur="blur($event)"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="pull-right btn btn-success" (click)="save()">{{ 'Save' | i18n }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
