<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Stories']"
            icon="file-photo-o"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-6" *ngIf="!canUserManageStories()">
            <p style="font-size: 16px;">{{ 'Do you want to have user stories in your store?' | i18n }}</p>
            <img
            style="width: 100%; margin-bottom:5px;"
            src="{{json.storiesBase64}}"
            />
            <button class="btn btn-success" routerLink="/profile">{{ 'Change the package' | i18n }}</button>
        </div>
        <div class="col-sm-6" *ngIf="canUserManageStories()">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>{{ 'Id' | i18n }}</td>
                        <td>{{ 'Author' | i18n }}</td>
                        <td>{{ 'Rating' | i18n }}</td>
                        <td>{{ 'Product' | i18n }}</td>
                        <td>
                            <button style="width:50px" (click)="init()" class="btn btn-default btn-xs">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let story of (response.data
                                | paginate
                                    : {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: request.currentPage,
                                          totalItems: response.totalItems,
                                          id: 'Stories'
                                      })
                        "
                    >
                        <td>{{ story.id }}</td>
                        <td>{{ story.author }}</td>
                        <td>{{ story.rate }}</td>
                        <td>{{ story.productId }}</td>
                        <td>
                            <a
                                class="
                        btn btn-default btn-xs"
                                routerLink="{{ story.id }}"
                                ><i class="fa fa-edit"></i
                            ></a>
                            <a class="btn btn-danger btn-xs" (click)="delete(story.id)"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <button class="btn btn-default btn-md pull-right" routerLink="new">
                                {{ 'Add' | i18n }}
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr class="pagination-row">
                        <td colspan="8">
                            <pagination-wrapper (pageChange)="pageChange($event)" id="stories"></pagination-wrapper>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
