<div class="login__container">
    <!-- <img [src]="'assets/img/login/logo.jpg'" alt="logo" class="login__logo" /> -->
    <!-- <h1 class="login__title">Witamy ponownie!</h1> -->
    <div class="login">
        <div class="login-bg"></div>
        <img [src]="'assets/img/login/login-image.svg'" alt="obrazek paczki ze strony logowania" class="login__image" />
        <div class="login__form">
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" #formDir="ngForm">
                <div id="login-error">
                    <div
                        class="login__error"
                        *ngIf="(formDir.submitted && (email.invalid || password.invalid)) || serverError"
                    >
                        <div *ngIf="email.errors?.email">{{ 'Email invali' | i18n }}d</div>

                        <div *ngIf="password.errors?.required">
                            {{ 'Password required' | i18n }}
                        </div>
                        {{ serverError }}
                    </div>
                </div>

                <input autocomplete="username" formControlName="email" id="email" class="login__input" type="email"
                placeholder="{{ 'Email' | i18n }}"
                required />

                <div class="login__passwordContainer">
                    <input
                        autocomplete="current-password"
                        formControlName="password"
                        class="login__input"
                        name="password"
                        type="{{ showPassword ? 'text' : 'password' }}"
                        label="Password"
                        placeholder="{{'Password'|i18n}}"
                        required
                    />
                    <img
                        (click)="togglePassword()"
                        class="login__showPassword"
                        [src]="'assets/img/icons/eye.svg'"
                        alt="pokaż hasło"
                    />
                </div>
                <a class="login__forgottenPassword" href="/reset-password">{{ 'Forgot password?' | i18n }} </a>

                <div class="login__loading" *ngIf="isLoading">
                    <loaders-css [loader]="'ball-pulse'" [loaderClass]="'login'"></loaders-css>
                </div>

                <button class="login__submit" type="submit" *ngIf="!isLoading">
                    {{ 'Log in' | i18n }}
                </button>
            </form>
        </div>
        <img class="login__decorator" [src]="'assets/img/login/decorator.svg'" alt="dekoracja narożnika" />
    </div>
    <div class="login__goToRegister">
        <h4 class="login__goToRegisterTitle">{{ 'Need a account?' | i18n }}</h4>
        <a routerLink="/register" class="login__goToRegisterButton">{{ 'Register' | i18n }}</a>
    </div>
</div>
