<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Orders' | i18n]"
            icon="list-ul"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12 relative">
            <loader [isLoading]="isLoading"></loader>
            <error-box [serverError]="serverError"></error-box>
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 20px" *ngIf="hasUserPermission('CanUpdateGlobalProduct')">
                        <button class="btn btn-info" (click)="orderBl.init()">
                            Dodaj do zamawiacza na podstawie BL
                        </button>
                    </div>
                    <div style="margin-bottom: 20px" *ngIf="hasUserPermission('SuperAdmin')">
                        <button class="btn btn-info" (click)="getTransfers()">Pobierz dane do przelewu</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped verticalMiddle">
                            <thead>
                                <tr>
                                    <td colspan="10">
                                        <div class="form-inline pull-right">
                                            <input
                                                class="form-control input-xs"
                                                [saUiDatepicker]
                                                [ngModel]="request.filter.orderDateFrom | date: 'shortDate'"
                                                (ngModelChange)="request.filter.orderDateFrom = $event"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                                placeholder="{{ 'Fulfillment date from' | i18n }}"
                                            />
                                            <input
                                                class="form-control input-xs"
                                                [saUiDatepicker]
                                                [ngModel]="request.filter.orderDateTo | date: 'shortDate'"
                                                (ngModelChange)="request.filter.orderDateTo = $event"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                                placeholder="{{ 'Fulfillment date to' | i18n }}"
                                            />
                                            <input
                                                class="form-control input-xs"
                                                [saUiDatepicker]
                                                [ngModel]="request.filter.dateFrom | date: 'shortDate'"
                                                (ngModelChange)="request.filter.dateFrom = $event"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                                placeholder="{{ 'Date from' | i18n }}"
                                            />
                                            <input
                                                class="form-control input-xs"
                                                [saUiDatepicker]
                                                [ngModel]="request.filter.dateTo | date: 'shortDate'"
                                                (ngModelChange)="request.filter.dateTo = $event"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                                placeholder="{{ 'Date to' | i18n }}"
                                            />
                                            <input
                                                type="checkbox"
                                                [checked]="request.filter.onlyPaid"
                                                [(ngModel)]="request.filter.onlyPaid"
                                            />
                                            {{ 'Paid' | i18n }}
                                            <button class="btn btn-success btn-xs" (click)="export()">
                                                <i class="fa fa-download"></i> {{ 'Download' | i18n }}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="80px">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="ID"
                                            [(ngModel)]="request.filter.id"
                                            [debounce]="500"
                                            (onDebounce)="init()"
                                        />
                                    </td>
                                    <td width="125px">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="{{ 'BaseLinker ID' | i18n }}"
                                            [(ngModel)]="request.filter.baseLinkerOrderId"
                                            [debounce]="500"
                                            (onDebounce)="init()"
                                        />
                                    </td>
                                    <td width="150px">
                                        <div class="input-group">
                                            <input
                                                readonly
                                                placeholder="{{ 'Placing date' | i18n }}"
                                                class="form-control datepicker"
                                                [saUiDatepicker]
                                                [ngModel]="request.filter.date | date: 'shortDate'"
                                                (ngModelChange)="request.filter.date = $event"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                            />
                                            <div class="input-group-btn">
                                                <button
                                                    class="btn btn-default"
                                                    type="button"
                                                    (click)="request.filter.date = null"
                                                >
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="150px">
                                        <div class="input-group">
                                            <input
                                                readonly
                                                placeholder="{{ 'Fulfillment date' | i18n }}"
                                                class="form-control datepicker"
                                                [saUiDatepicker]
                                                [ngModel]="request.filter.realizationDate | date: 'shortDate'"
                                                (ngModelChange)="request.filter.realizationDate = $event"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                            />
                                            <div class="input-group-btn">
                                                <button
                                                    class="btn btn-default"
                                                    type="button"
                                                    (click)="request.filter.realizationDate = null"
                                                >
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center" width="150px">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="{{ 'Number' | i18n }}"
                                            [(ngModel)]="request.filter.aliExpressOrderNumber"
                                            [debounce]="500"
                                            (onDebounce)="init()"
                                        />
                                    </td>
                                    <td width="200px">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="{{ 'Customer' | i18n }}"
                                            [(ngModel)]="request.filter.email"
                                            [debounce]="500"
                                            (onDebounce)="init()"
                                        />
                                    </td>
                                    <td width="400px"></td>
                                    <td width="200px"></td>
                                    <td width="80px"></td>
                                    <td width="70px" class="text-center">
                                        <button style="width:50px" (click)="init()" class="btn btn-default btn-xs">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td class="orderable" (click)="setOrder($event)" name="id">
                                        {{ 'ID' | i18n }} <i [ngClass]="orderRuleClass"></i>
                                    </td>
                                    <td class="orderable" (click)="setOrder($event)" name="baseLinkerOrderId">
                                        {{ 'BaseLinker ID' | i18n }} <i [ngClass]="orderRuleClass"></i>
                                    </td>
                                    <td class="orderable" (click)="setOrder($event)" name="date">
                                        {{ 'Placing date' | i18n }} <i [ngClass]="orderRuleClass"></i>
                                    </td>
                                    <td class="orderable" (click)="setOrder($event)" name="realizationDate">
                                        {{ 'Fulfillment date' | i18n }} <i [ngClass]="orderRuleClass"></i>
                                    </td>
                                    <td>{{ 'AliExpress order numbers' | i18n }}</td>
                                    <td>{{ 'Customer' | i18n }}</td>
                                    <td>{{ 'Products' | i18n }}</td>
                                    <td>
                                        <span class="cost">{{ 'Cost' | i18n }}</span> /
                                        <span class="receivedMoney">{{ 'Received' | i18n }}</span> /
                                        <span class="profit">{{ 'Profit' | i18n }}</span>
                                    </td>
                                    <td>{{ 'Status' | i18n }}</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!isLoading && response.data.length == 0">
                                    <td colspan="10">
                                        <div class="text-center">{{ 'No results' | i18n }}</div>
                                    </td>
                                </tr>
                                <tr
                                    class="text-center"
                                    *ngFor="
                                        let order of response.data
                                            | paginate
                                                : {
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: request.currentPage,
                                                      totalItems: response.totalItems,
                                                      id: 'orders'
                                                  }
                                    "
                                >
                                    <td>
                                        <a routerLink="{{ order.id }}">{{ order.id }}</a>
                                    </td>
                                    <td>
                                        <a
                                            target="_blank"
                                            [href]="
                                                'https://panel.baselinker.com/orders.php#order:' +
                                                order.baseLinkerOrderId
                                            "
                                            >{{ order.baseLinkerOrderId }}</a
                                        >
                                    </td>
                                    <td>{{ order.date | date: 'short' }}</td>
                                    <td>{{ order.realizationDate | date: 'short' }}</td>
                                    <td>
                                        <span
                                            *ngFor="
                                                let number of order.aliExpressOrderNumbers
                                                    | slice
                                                        : 0
                                                        : (order.expandOrders ? order.aliExpressOrderNumbers.length : 2)
                                            "
                                        >
                                            <a
                                                href="https://trade.aliexpress.com/order_detail.htm?orderId={{
                                                    number
                                                }}"
                                                target="_blank"
                                                >{{ number }}</a
                                            >
                                        </span>
                                        <div style="position:relative" *ngIf="!order.expandOrders">
                                            <div *ngIf="order.aliExpressOrderNumbers.length > 2" class="moreOrders">
                                                <a (click)="order.expandOrders = true" class="profit">...</a>
                                            </div>
                                        </div>
                                        <div style="position:relative" *ngIf="order.expandOrders">
                                            <div
                                                *ngIf="order.aliExpressOrderNumbers.length > 2"
                                                class="moreOrders pull-right"
                                                style="bottom:-3px"
                                            >
                                                <a (click)="order.expandOrders = false" class="cost">...</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ order.customerEmail }}</td>
                                    <td style="max-width:150px">
                                        <ul class="orderDetails_productList">
                                            <li
                                                *ngFor="let product of order.products"
                                                class="orderDetails_productName "
                                            >
                                                {{ product.quantity }}x {{ product.name }}
                                            </li>
                                        </ul>
                                    </td>
                                    <td style="text-align: center ">
                                        <span class="cost">
                                            {{ order.amountPaid == 0 ? '-' : (order.amountPaid | number: '0.2-2') }}
                                            zł</span
                                        >
                                        /
                                        <span class="receivedMoney"
                                            >{{ order.amountRecieved | number: '0.2-2' }} zł</span
                                        >
                                        /
                                        <span class="profit"
                                            >{{
                                                order.amountPaid == 0
                                                    ? '-'
                                                    : (order.amountRecieved - order.amountPaid | number: '0.2-2')
                                            }}
                                            zł</span
                                        >
                                    </td>
                                    <td class="text-center">
                                        <label
                                            class="label"
                                            [ngClass]="{
                                                'label-success': order.status.staticName == 'PAID',
                                                'label-default': order.status.staticName == 'NEW',
                                                'label-warning':
                                                    order.status.staticName == 'CANCELED' ||
                                                    order.status.name == 'AutoOrderQueued',

                                                'label-info': order.status.staticName == 'SENT',
                                                'label-danger': order.status.staticName == 'AUTOORDERFAIL'
                                            }"
                                        >
                                            {{ order.status.name | i18n }}
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-default" routerLink="{{ order.id }}">
                                            <i class="fa fa-fw fa-edit"></i>
                                        </a>
                                        <button
                                            *ngIf="order.baseLinkerOrderId == 0"
                                            class="btn btn-xs btn-info"
                                            (click)="sendToBl(order.id)"
                                        >
                                            B
                                        </button>
                                        <button class="btn btn-success btn-xs" (click)="placeOrder(order.id)">
                                            <i class="fa fa-play"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="pagination-row">
                                    <td colspan="10">
                                        <pagination-wrapper
                                            (pageChange)="pageChange($event)"
                                            id="orders"
                                        ></pagination-wrapper>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<orderbl-modal-component #orderBl></orderbl-modal-component>
