<div class="col-sm-8">
    <error-box [serverError]="serverError"></error-box>
    <loader [isLoading]="isLoading"></loader>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <td width="10%"></td>
                <td width="30%">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="{{'Name'|i18n}}"
                        [(ngModel)]="request.filter.name"
                        [debounce]="500"
                        (onDebounce)="ngOnInit()"
                    />
                </td>
                <td width="30%">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="{{'Domain'|i18n}}"
                        [(ngModel)]="request.filter.domain"
                        [debounce]="500"
                        (onDebounce)="ngOnInit()"
                    />
                </td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
            </tr>
            <tr>
                <td>{{'Id' | i18n}}</td>
                <td>{{'Name' | i18n}}</td>
                <td>{{'Domain' | i18n}}</td>
                <td>{{'Notifications email (from)' | i18n}}</td>
                <td>{{'Email, where questions are sent' | i18n}}</td>
                <td class="text-center">
                    <button (click)="ngOnInit()" class="btn btn-default btn-xs"><i class="fa fa-refresh"></i></button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let shop of (response.data
                        | paginate
                            : {
                                  itemsPerPage: itemsPerPage,
                                  currentPage: request.currentPage,
                                  totalItems: response.totalItems,
                                  id: 'yours-shops'
                              })
                "
                routerLink="details/{{shop.id}}"
                style="cursor: pointer"
            >
                <td>{{ shop.id }}</td>
                <td>{{ shop.name }}</td>
                <td>
                    <a href="https://{{shop.domain}}" target="_blank">{{ shop.domain }}</a>
                </td>
                <td>{{ shop.notificationEmail }}</td>
                <td>{{ shop.productInfoEmail }}</td>
                <td>
                    <!--
                        <a class="btn btn-xs btn-info" (click)="shopDetailsModal.init(shop)">
                            <i class="fa fa-fw fa-info"></i>
                        </a>
                    -->
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="pagination-row">
                <td colspan="6">
                    <pagination-wrapper (pageChange)="pageChange($event)" id="yours-shops"></pagination-wrapper>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
