<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Statuses']"
            icon="asterisk"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>{{ 'Id' | i18n }}</td>
                        <td>{{ 'Status name' | i18n }}</td>
                        <td>{{ 'Email template name' | i18n }}</td>
                        <td>
                            <button (click)="init()" class="btn btn-info btn-xs">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let status of statuses">
                        <td>{{ status.id }}</td>
                        <td>
                            {{ status.name }}
                        </td>
                        <td *ngIf="status.emailTemplateId; else showNone">{{ status.emailTemplateName }}</td>
                        <ng-template #showNone>
                            <td>{{ 'None in list' | i18n }}</td>
                        </ng-template>
                        <td>
                            <button type="button" class="btn btn-xs btn-default" (click)="detailsModal.init(status)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-xs btn-danger" (click)="delete(status.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button
                                type="button"
                                class="btn btn-sm btn-default pull-right"
                                (click)="detailsModal.init()"
                            >
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<status-details-modal-component #detailsModal (close)="init($event)"></status-details-modal-component>
