<div id="content">
    <div class="row">
        <div class="col-sm-8">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <div class="col-sm-8">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'First name and last name' | i18n }}</label>
                            <div class="col-md-5">
                                <input
                                    [disabled]="!editMode"
                                    class="form-control"
                                    name="firstname"
                                    [(ngModel)]="user.firstName"
                                    type="text"
                                />
                            </div>
                            <div class="col-md-5">
                                <input
                                    [disabled]="!editMode"
                                    class="form-control"
                                    name="lastName"
                                    [(ngModel)]="user.lastName"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'Email' | i18n }}</label>
                            <div class="col-md-10">
                                <input
                                    [disabled]="!editMode"
                                    class="form-control"
                                    name="email"
                                    [(ngModel)]="user.email"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ 'Permissions' | i18n }}</label>
                            <div class="col-md-10">
                                <table>
                                    <tbody>
                                        <tr *ngFor="let permission of permissions; let i = index">
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input
                                                        type="checkbox"
                                                        [disabled]="!editMode"
                                                        class="checkbox style-0"
                                                        [checked]="hasPermission(permission.name)"
                                                        (click)="toggle(permission.name)"
                                                    />
                                                    <span
                                                        >{{ permission.id }} - {{ permission.description }}
                                                        <span style="font-size:9px">({{ permission.name }})</span></span
                                                    >
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <label class="checkbox-inline" *ngFor="let permission of permissions; let i = index">
                                    <input type="checkbox" class="checkbox style-0" />
                                    <span>{{ permission.description }} {{ i }}</span>
                                </label> -->
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button
                                    *ngIf="!editMode"
                                    class="btn btn-success"
                                    type="button"
                                    (click)="editMode = true"
                                >
                                    {{ 'Edit' | i18n }}
                                </button>
                                <button
                                    *ngIf="editMode"
                                    class="btn btn-default"
                                    type="button"
                                    (click)="editMode = false"
                                >
                                    {{ 'Cancel' | i18n }}
                                </button>
                                <button *ngIf="editMode" class="btn btn-primary" type="button" (click)="save()">
                                    <i class="fa fa-save"></i> {{ 'Save' | i18n }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'Set name' | i18n }}</th>
                            <th>{{ 'Products limit' | i18n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let set of user.setsProductsLimits">
                            <td>{{ set.name }}</td>
                            <td>
                                <input
                                    [disabled]="!editMode"
                                    class="form-control"
                                    name="productsLimit"
                                    [(ngModel)]="set.shopProductsLimit"
                                    type="number"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
