<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Payment history' | i18n]"
            icon="cart-arrow-down"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12 relative">
            <loader [isLoading]="isLoading"></loader>
            <error-box [serverError]="serverError"></error-box>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped verticalMiddle">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Email"
                                            [(ngModel)]="request.filter.userMail"
                                            [debounce]="500"
                                            (onDebounce)="init()"
                                        />
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input
                                                    type="checkbox"
                                                    placeholder="Is empty"
                                                    [(ngModel)]="request.filter.isPaymentStatusEmpty"
                                                    [debounce]="500"
                                                    (onDebounce)="init()"
                                                />
                                            </div>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Payment status"
                                                [(ngModel)]="request.filter.paymentStatus"
                                                [debounce]="500"
                                                (onDebounce)="init()"
                                            />
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input
                                            type="checkbox"
                                            class="form-control"
                                            placeholder="Success"
                                            [(ngModel)]="request.filter.isSuccess"
                                            [debounce]="500"
                                            (onDebounce)="init()"
                                        />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button
                                            [disabled]="isLoading"
                                            class="btn btn-default btn-xs"
                                            style="width:100%"
                                            (click)="init()"
                                        >
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td class="orderable" (click)="setOrder($event)" name="internalOrderId">
                                        {{ 'InternalOrderId' | i18n }} <i [ngClass]="orderRuleClass"></i>
                                    </td>
                                    <td name="email">
                                        {{ 'Email' | i18n }}
                                    </td>
                                    <td name="paymentStatus">
                                        {{ 'Payment status' | i18n }}
                                    </td>
                                    <td name="expectedAmount">{{ 'Expected Amount' | i18n }}</td>
                                    <td name="actualAmount">{{ 'Actual Amount' | i18n }}</td>
                                    <td name="success">{{ 'Success' | i18n }}</td>
                                    <td name="description">{{ 'Description' | i18n }}</td>
                                    <td name="creationDate">{{ 'Creation Date' | i18n }}</td>
                                    <td name="postPaymentActionExecuted">{{ 'Action executed' | i18n }}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!isLoading && response.data.length == 0">
                                    <td colspan="9">
                                        <div class="text-center">{{ 'No results' | i18n }}</div>
                                    </td>
                                </tr>
                                <tr
                                    class="text-center"
                                    *ngFor="
                                        let offer of (response.data
                                            | paginate
                                                : {
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: request.currentPage,
                                                      totalItems: response.totalItems,
                                                      id: 'orders'
                                                  })
                                    "
                                >
                                    <td>
                                        {{ offer.internalOrderId }}
                                    </td>
                                    <td>
                                        {{ offer.email }}
                                    </td>
                                    <td>{{ offer.paymentStatus }}</td>
                                    <td>
                                        {{ offer.expectedAmount }}
                                    </td>
                                    <td>{{ offer.actualAmount }}</td>
                                    <td>
                                        <input
                                            class="form-control"
                                            type="checkbox"
                                            [(ngModel)]="offer.success"
                                            disabled
                                        />
                                    </td>
                                    <td>{{ offer.description }}</td>
                                    <td>{{ offer.creationDate }}</td>
                                    <td>
                                        <input
                                            class="form-control"
                                            type="checkbox"
                                            [(ngModel)]="offer.postPaymentActionExecuted"
                                            disabled
                                        />
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="pagination-row">
                                    <td colspan="9">
                                        <pagination-wrapper
                                            (pageChange)="pageChange($event)"
                                            id="orders"
                                        ></pagination-wrapper>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
