<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Shops', 'Details', shop.name]"
            icon="shopping-basket"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <div class="col-sm-4">
                <div class="form-group">
                    <span class="control-label">{{'Name' | i18n}}</span
                    ><input class="form-control" type="text" [(ngModel)]="shop.name" />
                </div>
                <div class="form-group">
                    <span class="control-label">{{'Domain' | i18n}}</span
                    ><input
                        class="form-control"
                        style="text-transform: lowercase;"
                        type="text"
                        [(ngModel)]="shop.domain"
                    />
                </div>
                <div class="form-group">
                    <span class="control-label">{{'Commission' | i18n}}</span
                    ><input class="form-control" type="number" min="1" [(ngModel)]="shop.commission" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2"><img src="{{ shop.logoUrl }}" class="img-responsive" /></div>
                        <div class="col-sm-8"><input type="file" #logoFile (change)="onLogoFileAdded()" /></div>
                        <div class="col-sm-2" *ngIf="selectedLogoFile.name">
                            <button class="btn btn-success pull-right" (click)="saveLogo()">{{'Save logo' | i18n}}</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <button class="btn btn-success pull-right" (click)="saveShop()">{{'Save' | i18n}}</button>
                </div>
            </div>
            <div class="col-sm-8">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>{{'Language' | i18n}}</td>
                            <td>{{'Link' | i18n}}</td>
                            <td>{{'Photo' | i18n}}</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let banner of shop.banners">
                            <td style="width:30%">{{ banner.languageCode }}</td>
                            <td style="width:30%">{{ banner.link }}</td>
                            <td style="width:20%">{{ banner.imageUrl }}</td>
                            <td style="width:20%">
                                <button class="btn btn-xs btn-danger" (click)="delete(banner.id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="addNew">
                            <td>
                                <select class="form-control" [(ngModel)]="newBanner.languageId">
                                    <option value="1">{{'Polish' | i18n}}</option>
                                    <option value="2">{{'English' | i18n}}</option>
                                </select>
                            </td>
                            <td><input class="form-control" type="text" [(ngModel)]="newBanner.link" /></td>
                            <td><input style="margin-top:5px" type="file" #file (change)="onFilesAdded()" /></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center">
                                <button *ngIf="!addNew" (click)="addNew = true" class="btn btn-xs btn-default">
                                    <i class="fa fa-plus"></i> {{'Add' | i18n}}
                                </button>
                                <button *ngIf="addNew" (click)="addNew = false" class="btn btn-xs btn-danger">
                                    <i class="fa fa-times"></i> {{'Cancel' | i18n}}
                                </button>
                                <button *ngIf="addNew" (click)="save()" class="btn btn-xs btn-default">
                                    <i class="fa fa-save"></i> {{'Save' | i18n}}
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
