<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Payments' | i18n]"
            icon="list-ul"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12 relative">
            <loader [isLoading]="isLoading"></loader>
            <error-box [serverError]="serverError"></error-box>
            <div class="row" *ngIf="paymentSuccess === undefined">
                <div class="col-sm-12">{{ 'Checking payment status' | i18n }} ...</div>
            </div>

            <div class="alert alert-success fade in" *ngIf="paymentSuccess === true">
                <i class="fa-fw fa fa-check"></i>
                <strong>{{ 'Success' | i18n }}</strong> {{ 'Payment has been made successfully' | i18n }}
            </div>

            <div class="alert alert-danger fade in" *ngIf="paymentSuccess === false">
                <i class="fa-fw fa fa-check"></i>
                <strong>{{ 'Failure' | i18n }}</strong>
                {{ "Sorry, we couldn't process your payment. Please try again or contact support" | i18n }}
            </div>
        </div>
    </div>
</div>
