<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Email']"
            icon="envelope"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>{{ 'Name' | i18n }}</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let email of templates">
                        <td>{{ email.id }}</td>
                        <td>{{ email.name }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-default" routerLink="{{ email.id }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button
                                *ngIf="!email.isReadonly"
                                type="button"
                                class="btn btn-sm btn-danger"
                                (click)="deleteEmailTemplate(email.id)"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="addingEmail">
                        <td></td>
                        <td><input class="form-control" [(ngModel)]="newEmailName" /></td>
                        <td>
                            <button
                                *ngIf="addingEmail"
                                type="button"
                                class="btn btn-sm btn-success"
                                (click)="addEmailTemplate()"
                            >
                                Save
                            </button>
                            <button
                                *ngIf="addingEmail"
                                type="button"
                                class="btn btn-sm btn-danger"
                                (click)="addingEmail = !addingEmail"
                            >
                                Cancel
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!addingEmail">
                        <td colspan="3">
                            <button
                                type="button"
                                class="btn btn-sm btn-default pull-right"
                                (click)="addingEmail = !addingEmail"
                            >
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
