<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{'Coupon' |i18n}}
            </div>
            <div class="modal-body">
                <error-box [serverError]="serverError"></error-box>
                <loader [isLoading]="isLoading"></loader>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" placeholder="{{'Code'|i18n}}" class="form-control" [(ngModel)]="discount.code" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="discount.discountType">
                                <option value="null" selected disabled>{{'Type' |i18n}}</option>
                                <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input
                                type="number"
                                placeholder="{{'Value' |i18n}}"
                                class="form-control"
                                [(ngModel)]="discount.value"
                            />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input
                                type="number"
                                placeholder="{{'Min order value' |i18n}}"
                                class="form-control"
                                [(ngModel)]="discount.minOrderValue"
                            />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input
                                placeholder="{{'Valid from' |i18n}}"
                                class="form-control datepicker"
                                [saUiDatepicker]
                                [ngModel]="discount.startDate | date: 'shortDate'"
                                (ngModelChange)="discount.startDate = $event"
                            />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input
                                placeholder="{{'Valid until' |i18n}}"
                                class="form-control datepicker"
                                [saUiDatepicker]
                                [ngModel]="discount.endDate | date: 'shortDate'"
                                (ngModelChange)="discount.endDate = $event"
                            />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <input
                                type="number"
                                placeholder="{{'Remaining amount' |i18n}}"
                                class="form-control"
                                [(ngModel)]="discount.leftQuantity"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-danger " (click)="hide()">
                    <i class="fa fa-check"></i> {{'Cancel' |i18n}}
                </button>
                <button type="button " class="btn btn-success " (click)="save()">
                    <i class="fa fa-check"></i> {{'Save' |i18n}}
                </button>
            </div>
        </div>
    </div>
</div>
