<div class="col-sm-12">
    <error-box [serverError]="serverError"></error-box>
    <loader [isLoading]="isLoading"></loader>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td style="width:14%">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="{{'Code' |i18n}}"
                        [(ngModel)]="request.filter.name"
                        [debounce]="500"
                        (onDebounce)="ngOnInit()"
                    />
                </td>
                <td style="width:14%"></td>
                <td style="width:14%"></td>
                <td style="width:14%"></td>
                <td style="width:4%"></td>
            </tr>
            <tr>
                <td>{{'Value' |i18n}}</td>
                <td>{{'Expiration date from' |i18n}}</td>
                <td>{{'Expiration date to' |i18n}}</td>
                <td>
                    <button style="width:50px" (click)="ngOnInit()" class="btn btn-default btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                </td>
                <td>{{'On/Off' |i18n}}</td>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let discount of (response.data
                        | paginate
                            : {
                                  itemsPerPage: itemsPerPage,
                                  currentPage: request.currentPage,
                                  totalItems: response.totalItems,
                                  id: 'discounts'
                              })
                "
            >
                <td>{{ discount.value }} {{ discount.discountType == 1 ? discount.currencySymbol : '%' }}</td>
                <td>
                    <span *ngIf="!checkEditMode(discount.code)">{{ discount.startDate | date: 'shortDate' }}</span>
                    <input
                        *ngIf="checkEditMode(discount.code)"
                        placeholder="{{'Valid from' |i18n}}"
                        class="form-control datepicker"
                        [saUiDatepicker]
                        [ngModel]="discount._startDate | date: 'shortDate'"
                        (ngModelChange)="discount._startDate = $event"
                    />
                </td>
                <td>
                    <span *ngIf="!checkEditMode(discount.code)"> {{ discount.endDate | date: 'shortDate' }}</span>
                    <input
                        *ngIf="checkEditMode(discount.code)"
                        placeholder="{{'Valid until' |i18n}}"
                        class="form-control datepicker"
                        [saUiDatepicker]
                        [ngModel]="discount._endDate | date: 'shortDate'"
                        (ngModelChange)="discount._endDate = $event"
                    />
                </td>
                <td>
                    <button
                        *ngIf="!checkEditMode(discount.code)"
                        class="btn btn-success"
                        type="button"
                        (click)="setEditMode(discount.code)"
                    >
                        {{ 'Edit' | i18n }}
                    </button>
                    <button
                        *ngIf="checkEditMode(discount.code)"
                        class="btn btn-default"
                        type="button"
                        (click)="setEditMode(null)"
                    >
                        {{ 'Cancel' | i18n }}
                    </button>
                    <button
                        *ngIf="checkEditMode(discount.code)"
                        class="btn btn-primary"
                        type="button"
                        (click)="save(discount)"
                    >
                        <i class="fa fa-save"></i> {{ 'Save' | i18n }}
                    </button>
                </td>
                <td>
                    <div>
                        <input
                            type="checkbox"
                            style="width:18px; height:18px;"
                            [checked]="discount.isActive"
                            [disabled]="!discount.isActive && isActivatedSpecialDiscount()"
                            (change)="toggleCheckbox($event, discount)"
                        />
                    </div>
                </td>
            </tr>

            <tr></tr>
        </tbody>

        <tfoot>
            <tr class="pagination-row">
                <td colspan="8">
                    <pagination-wrapper (pageChange)="pageChange($event)" id="discounts"></pagination-wrapper>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
