<div
*ngIf="isValidWarning"
    style="height:50px; width:100%;    
    font-size: 17px;
    position: relative;
    z-index: 905;
    font-weight: 600;
    padding: 10px;"
    [ngClass]="alertType == 'danger' ? 'account-valid-danger' : 'account-valid-warning'"
>
    {{ text }}
    <a href="https://app.takedrop.pl/billing/invoices">https://app.takedrop.pl/billing/invoices</a>
</div>
<header id="header">
    <div style="display: flex; margin-left:10px; padding-top:9px; width: auto">
        <div class="input-group input-group-sm " style="float:left; margin-left:3px; min-width: 300px;">
            <span class="input-group-addon "> <i class="fa fa-shopping-cart "></i> </span>

            <select
                class="form-control"
                id="shop-select"
                style="width: 100%"
                [(ngModel)]="selectedShopId"
                (ngModelChange)="shopChanged($event)"
            >
                <option value="null" selected disabled>Wybierz sklep</option>
                <option *ngFor="let shop of shops" value="{{ shop.id }}" selected="{{ shop.id == selectedShop.id }}">
                    {{ shop.domain }} (id: {{ shop.id }})</option
                >
            </select>
        </div>
        <span *ngIf="selectedShop.domain" style="margin-left: 20px;">
            <a class="btn btn-default" href="https://{{ selectedShop.domain }}" target="_blank">
                <i class="fa fa-arrow-right"></i> Przejdź do sklepu</a
            >
        </span>
    </div>

    <div class="pull-right">
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a (click)="logout()" title="Sign Out" data-action="userLogout"> <i class="fa fa-sign-out"></i> </a>
            </span>
        </div>

        <sa-full-screen></sa-full-screen>
        <a (click)="goToProfile()" title="profil" style="color:#555; font-size: 16px; margin-top: 13px; float:right">{{
            user?.userName
        }}</a>
    </div>
    <div style="margin-top: 17px; margin-left:20px; position: absolute" *ngIf="canSeeUpdateStatisitcs()">
        Update: <strong>{{ updateStatistics.numerOfProductUpdatedLately }} /min</strong>. Kolejka:
        <strong>{{ updateStatistics.productsInQueue }}</strong
        >. Zamawiacz: <strong>{{ updateStatistics.ordererSpeed }} /h</strong>. Kolejka
        <strong>{{ updateStatistics.leftInOrderQueue }}</strong
        >. Rezultat: <strong>{{ updateStatistics.successInOrderQueue }} </strong>udanych
        <strong>{{ updateStatistics.failureInQueue }} </strong>nieudanych
        <button
            (click)="getUpdateStatistic()"
            style="margin-top: -2px;   margin-left: 5px;"
            class="btn btn-xs btn-default"
        >
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <sa-language-selector></sa-language-selector>

    <div
        style="    float: right;
    margin-top: 9px;
    margin-right: 60px;
"
    >
        <a class="btn btn-info" href="https://www.facebook.com/groups/590669128104895/" target="_blank">
            <i class="fa fa-facebook-square"></i>
            Niepubliczna grupa wsparcia
        </a>
    </div>
</header>
