<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Sklepy']" icon="shopping-basket" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>

            <div>
                <ul id="myTab1" class="nav nav-tabs bordered">

                    <li [class.active]="currentTab == 'shops'">
                        <a (click)="currentTab = 'shops'">
                            <i class="fa fa-fw fa-lg fa-shopping-cart"></i>{{'Your shops' | i18n}} </a>
                    </li>
                    <li [class.active]="currentTab == 'aliexpress-shops'">
                        <a (click)="currentTab = 'aliexpress-shops'">
                            <i class="fa fa-fw fa-lg fa-dropbox"></i> {{'AliExpress shops' | i18n}}</a>
                    </li>
                    <li [class.active]="currentTab == 'imports-shops'">
                        <a (click)="currentTab = 'imports-shops'">
                            <i class="fa fa-fw fa-lg fa-download"></i> {{'Import queue' | i18n}}</a>
                    </li>
                </ul>
                <tabset class="padding-10">
                    <tab [active]="currentTab == 'shops'">
                        <yours-shops></yours-shops>
                    </tab>
                    <tab [active]="currentTab == 'aliexpress-shops'">
                        <aliexpress-shops></aliexpress-shops>
                    </tab>
                    <tab [active]="currentTab == 'imports-shops'">
                        <imports-shops></imports-shops>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>