<aside id="left-panel">
    <nav>
        <ul saSmartMenu>
            <li routerLinkActive="active" [class.disabledNav]="!isValid">
                <a routerLink="/dashboard" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-dashboard"></i>
                    <span class="menu-item-parent">{{ 'Dashboard' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active" [class.disabledNav]="!isValid">
                <a routerLink="/buy-shop" title="Kup sklep"
                    ><i class="fa fa-lg fa-fw fa-cart-plus"></i>
                    <span class="menu-item-parent">{{ 'Buy shop' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a title="Produkty" routerLink="/products" >
                    <i class="fa fa-lg fa-fw fa-shopping-cart"></i>
                    <span class="menu-item-parent">{{ 'Products' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/orders" title="Zamówienia">
                    <i class="fa fa-lg fa-fw fa-list-ul"></i>
                    <span class="menu-item-parent">{{ 'Orders' | i18n }}</span>
                </a>
                <ul *ngIf="requiredRole('CanManageOrderFail')">
                    <li routerLinkActive="active">
                        <a routerLink="/orders/fail" title="Zamówienia">Orders fail</a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/disputes" title="Disputy">
                    <i class="fa fa-lg fa-fw fa-exclamation-circle"></i>
                    <span class="menu-item-parent">{{ 'Disputes' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/commissions" title="Ustawienia narzutu">
                    <i class="fa fa-lg fa-fw fa-money"></i>
                    <span class="menu-item-parent">{{ 'Commissions' | i18n }} </span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/categories" title="Kategorie">
                    <i class="fa fa-lg fa-fw fa-tags"></i>
                    <span class="menu-item-parent">{{ 'Categories' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/statuses" title="Statusy">
                    <i class="fa fa-lg fa-fw fa-asterisk"></i>
                    <span class="menu-item-parent">{{ 'Statuses' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/emails" title="Statusy">
                    <i class="fa fa-lg fa-fw fa-envelope"></i>
                    <span class="menu-item-parent">{{ 'Email templates' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="requiredRole('CanManageAdministrators')"[class.disabledNav]="!isValid">
                <a routerLink="/users" title="Użytkownicy">
                    <i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">{{ 'Users' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/profile" title="Profil">
                    <i class="fa fa-lg fa-fw fa-user"></i>
                    <span class="menu-item-parent">{{ 'Profile' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/discounts" title="Kody rabatowe">
                    <i class="fa fa-lg fa-fw fa-level-down"></i>
                    <span class="menu-item-parent">{{ 'Discounts' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="requiredRole('CanManageShops')"[class.disabledNav]="!isValid">
                <a routerLink="/shops" title="Sklepy AliExpress">
                    <i class="fa fa-lg fa-fw fa-shopping-basket"></i>
                    <span class="menu-item-parent">{{ 'Shops' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/stories" title="Stories"
                    ><i class="fa fa-lg fa-fw fa-file-photo-o"></i>
                    <span class="menu-item-parent">{{ 'Stories' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/settings" title="Ustawienia"
                    ><i class="fa fa-lg fa-fw fa-cogs"></i>
                    <span class="menu-item-parent">{{ 'Settings' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/themes" title="Motywy"
                    ><i class="fa fa-lg fa-fw fa-paint-brush"></i>
                    <span class="menu-item-parent">{{ 'Themes' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="requiredRole('SuperAdmin')"[class.disabledNav]="!isValid">
                <a routerLink="/offers" title="Oferty">
                    <i class="fa fa-lg fa-fw fa-cart-arrow-down"></i>
                    <span class="menu-item-parent">{{ 'Offers' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active"[class.disabledNav]="!isValid">
                <a routerLink="/static-pages" title="Strony statyczne"
                    ><i class="fa fa-lg fa-fw fa-file-text"></i>
                    <span class="menu-item-parent">{{ 'Static Pages' | i18n }}</span>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="requiredRole('SuperAdmin')"[class.disabledNav]="!isValid">
                <a routerLink="/payment-history" title="Historia płatności">
                    <i class="fa fa-lg fa-fw fa-credit-card"></i>
                    <span class="menu-item-parent">{{ 'Payment history' | i18n }}</span>
                </a>
            </li>
        </ul>
    </nav>

    <sa-minify-menu></sa-minify-menu>
</aside>
