<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ 'Edytuj produkt w zamówieniu' | i18n }}
            </div>
            <div class="modal-body">
                <div class="row">
                    <error-box [serverError]="serverError"></error-box>
                    <loader [isLoading]="isLoading"></loader>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th colspan="2">Nazwa</th>
                                <th colspan="2">Wartość</th>
                                <th>Zdjęcie</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let variant of variants; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td style="width:150px">
                                    <div style="text-align: right">
                                        <div style="margin-bottom:18px; margin-top:7px;">Wyświetlana</div>
                                        <div>AliExpress</div>
                                    </div>
                                </td>
                                <td>
                                    <input
                                        class="form-control"
                                        [(ngModel)]="variant.displayName"
                                        style="margin-bottom:5px"
                                    />
                                    <input class="form-control" [(ngModel)]="variant.originalName" />
                                </td>
                                <td style="width:150px">
                                    <div style="text-align: right">
                                        <div style="margin-bottom:18px; margin-top:7px;">Wyświetlana</div>
                                        <div>AliExpress</div>
                                    </div>
                                </td>
                                <td>
                                    <input
                                        class="form-control"
                                        [(ngModel)]="variant.displayValue"
                                        style="margin-bottom:5px"
                                    />
                                    <input class="form-control" [(ngModel)]="variant.originalValue" />
                                </td>
                                <td>
                                    <input class="form-control" [(ngModel)]="variant.imageUrl" />
                                    <img src="https://images.take.shop//{{ variant.imageUrl }}.jpg_250x250.jpg_.webp" />
                                </td>
                                <td>
                                    <button class="btn btn-danger" (click)="removeVariant(variant)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <button class="btn btn-default pull-right" (click)="addVariant()">
                                        <i class="fa fa-plus"> Dodaj</i>
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="hide()">
                    {{ 'Cancel' | i18n }}
                </button>
                <button class="btn btn-success" (click)="save()">
                    {{ 'Save' | i18n }}
                </button>
            </div>
        </div>
    </div>
</div>
