<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Order' | i18n, order.id]"
            icon="star"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>
            <div style="margin-bottom: 20px; font-size:18px" *ngIf="order.baseLinkerOrderId">
                <button class="btn btn-info" (click)="init()"><i class="fa fa-refresh"></i> Odśwież</button>
                <div style="margin-top:15px;">
                    BaseLinker:
                    <a
                        target="_blank"
                        href="https://panel.baselinker.com/orders.php#order:{{ order.baseLinkerOrderId }}"
                        >{{ order.baseLinkerOrderId }}
                    </a>
                </div>
            </div>
            <products-settings [init]="init" [order]="order"></products-settings>
            <customer-settings [order]="order"></customer-settings>
            <aliexpress-orders [order]="order"></aliexpress-orders>
            <order-comments [order]="order"></order-comments>
        </div>
    </div>
</div>
