<div class="login__container">
    <div class="login">
        <div class="login-bg"></div>
        <img [src]="'assets/img/login/login-image.svg'" alt="obrazek paczki ze strony logowania" class="login__image" />
        <div class="login__form">
            <error-box [serverError]="serverError"></error-box>
            <loader [isLoading]="isLoading"></loader>
            <div class="success_verification" *ngIf="!isLoading && isVerified">
                <p>{{'The account has been verified correctly' |i18n}}.</p>
                <p>{{'You can now log in using the button below' |i18n}}.</p>
            </div>
        </div>
        <img class="login__decorator" [src]="'assets/img/login/decorator.svg'" alt="dekoracja narożnika" />
    </div>
    <div class="login__goToRegister">
        <a routerLink="/register" class="login__goToRegisterButton">{{'Register' |i18n}}</a>
        <a routerLink="/login" class="login__goToRegisterButton">{{'Login' |i18n}}</a>
    </div>
</div>
