<div class="login__container">
    <div class="login">
        <div class="login-bg"></div>
        <img [src]="'assets/img/login/login-image.svg'" alt="obrazek paczki ze strony logowania" class="login__image" />
        <loader [isLoading]="isLoading"></loader>
        <div class="login__form">
            <form [formGroup]="setPasswordForm" (ngSubmit)="setPasswordForm.valid && setPassword()" #formDir="ngForm">
                <div id="login-error">
                    <div class="login__error" *ngIf="formDir.submitted || serverError">
                        {{ serverError }}
                    </div>
                </div>
                <p>{{'Enter a new password' |i18n}}.</p>
                <div class="login__passwordContainer">
                    <input
                        autocomplete="current-password"
                        formControlName="password"
                        class="login__input"
                        name="password"
                        type="{{ showPassword ? 'text' : 'password' }}"
                        label="Password"
                        placeholder="{{'Password'|i18n}}"
                        required
                    />
                    <img
                        (click)="togglePassword()"
                        class="login__showPassword"
                        [src]="'assets/img/icons/eye.svg'"
                        alt="show password"
                    />
                </div>
                
                <div class="login__loading" *ngIf="isLoading">
                    <loaders-css [loader]="'ball-pulse'" [loaderClass]="'login'"></loaders-css>
                </div>
                <button class="login__submit" type="submit" *ngIf="!isLoading">
                    Wyślij
                </button>
            </form>
        </div>
        <img class="login__decorator" [src]="'assets/img/login/decorator.svg'" alt="dekoracja narożnika" />
    </div>
    <div class="login__goToRegister">
        <a routerLink="/register" class="login__goToRegisterButton">{{'Register' |i18n}}</a>
        <a routerLink="/login" class="login__goToRegisterButton">{{'Login' |i18n}}</a>
    </div>
</div>
