<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Theme']"
            icon="paint-brush"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul id="myTab1" class="nav nav-tabs bordered">
                <li [class.active]="currentTab == 'styles'">
                    <a (click)="currentTab = 'styles'">
                        <i class="fa fa-fw fa-lg fa-shopping-cart"></i>{{ 'Styles' | i18n }}</a
                    >
                </li>
                <li [class.active]="currentTab == 'logo'">
                    <a (click)="currentTab = 'logo'"> <i class="fa fa-fw fa-lg fa-dropbox"></i> {{ 'Logo' | i18n }}</a>
                </li>
                <li [class.active]="currentTab == 'banners'">
                    <a (click)="currentTab = 'banners'">
                        <i class="fa fa-fw fa-lg fa-dropbox"></i> {{ 'Banners' | i18n }}</a
                    >
                </li>
                <li [class.active]="currentTab == 'metaImage'">
                    <a (click)="currentTab = 'metaImage'">
                        <i class="fa fa-fw fa-lg fa-dropbox"></i> {{ 'Meta image' | i18n }}</a
                    >
                </li>
            </ul>
            <tabset class="padding-10">
                <tab [active]="currentTab == 'styles'">
                    <theme-styles [themeArray]="themeArray" (refresh)="init()"></theme-styles>
                </tab>
                <tab [active]="currentTab == 'logo'">
                    <theme-logo [logoUrl]="logoUrl" [faviconUrl]="faviconUrl" (refresh)="init()"></theme-logo>
                </tab>
                <tab [active]="currentTab == 'banners'">
                    <theme-banner (refresh)="init()"></theme-banner>
                </tab>
                <tab [active]="currentTab == 'metaImage'">
                    <theme-meta-image [metaUrl]="metaUrl" (refresh)="init()"></theme-meta-image>
                </tab>
            </tabset>
        </div>
    </div>
</div>
