<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Buy shop' | i18n]"
            icon="cart-plus"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12 relative">
            <loader [isLoading]="isLoading"></loader>
            <error-box [serverError]="serverError"></error-box>
            <div class="row">
                <div class="col-sm-8">
                    <ul class="list-unstyled">
                        <li
                            class="media"
                            *ngFor="
                                let offer of response.data
                                    | paginate: { itemsPerPage: 2, currentPage: offersPage, id: 'offers' }
                            "
                        >
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="border: 1px #ccc solid">
                                        <div class="row">
                                            <div class="col-sm-4" style="padding: 0 15px 0 30px;">
                                                <div>
                                                    <h3 class="card-title text-center">{{ offer.tags.join(', ') }}</h3>

                                                    <div class="bottom-content">
                                                        <ul
                                                            class="features-border list-unstyled text-center"
                                                            style="font-size: x-large"
                                                        >
                                                            <li>{{ offer.productsCount }} {{ 'Products' | i18n }}</li>
                                                        </ul>
                                                    </div>
                                                    <h1 class="display-1 text-center" style="padding: 15px 0;">
                                                        {{ offer.price }} zł
                                                        <span style="font-size: 16px;"> - {{ 'one-time price' | i18n }}</span>
                                                    </h1>
                                                </div>
                                                <div style="display: flex; justify-content: space-between;">
                                                    <a target="_blank" href="//{{ offer.domain }}" class="btn">{{
                                                        'See shop' | i18n
                                                    }}</a>
                                                    <button
                                                        class="btn btn-primary"
                                                        (click)="paymentModal.init({ offerId: offer.id })"
                                                    >
                                                        {{ 'Buy shop' | i18n }}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <img
                                                    style="width: 100%; max-height: 300px; object-fit: cover;"
                                                    class="card-img-top"
                                                    src="https://takeshop.ams3.cdn.digitaloceanspaces.com/{{
                                                        offer.photoUrl
                                                    }}_.webp"
                                                    alt="Card image cap"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pull-right " [hidden]="isLoading">
                        <pagination-controls
                            id="offers"
                            (pageChange)="offersPage = $event"
                            nextLabel="{{ 'Next' | i18n }} "
                            previousLabel="{{ 'Previous' | i18n }} "
                        ></pagination-controls>
                    </div>
                </div>
                <div class="col-sm-4">
                    <select
                        id="tags-select"
                        select2
                        multiple
                        [options]="{ tags: true }"
                        class="select2"
                        style="width: 300px; border: 1px solid #ccc; z-index: 0;"
                    >
                    </select>
                    <button class="btn btn-sm" (click)="init()">{{ 'Search' | i18n }}</button>
                    <ul class="list-unstyled" style="margin-top: 15px">
                        <li class="badge" *ngFor="let tag of tags" style="cursor: pointer" (click)="selectTag(tag)">
                            {{ tag }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<payment-modal-component #paymentModal></payment-modal-component>
