<div class="login__container">
    <!-- <img [src]="'assets/img/login/logo.jpg'" alt="logo" class="login__logo" /> -->
    <!-- <h1 class="login__title">Witamy ponownie!</h1> -->
    <div class="login">
        <div class="login-bg"></div>
        <img [src]="'assets/img/login/login-image.svg'" alt="obrazek paczki ze strony logowania" class="login__image" />
        <div class="login__form">
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && register()" #formDir="ngForm">
                <div id="login-error">
                    <div
                        class="login__error"
                        *ngIf="(formDir.submitted && (email.invalid || password.invalid)) || serverError"
                    >
                        <div *ngIf="email.errors?.email">{{ 'Email invalid' | i18n }}</div>
                        <div *ngIf="password.errors?.required">{{ 'Password' | i18n }} is required</div>
                        <div *ngIf="firstName.errors?.required">{{ 'First name is required' | i18n }}</div>
                        <div *ngIf="lastName.errors?.required">{{ 'Last name is required' | i18n }}</div>
                        {{ serverError }}
                    </div>
                </div>
                <input
                    autocomplete="firstName"
                    formControlName="firstName"
                    id="firstName"
                    class="login__input register"
                    type="text"
                    placeholder="{{ 'First name' | i18n }}"
                    required
                />

                <input
                    autocomplete="lastName"
                    formControlName="lastName"
                    id="lastName"
                    class="login__input register"
                    type="text"
                    placeholder="{{ 'Last name' | i18n }}"
                    required
                />
                <input
                    autocomplete="phoneNumber"
                    formControlName="phoneNumber"
                    id="phoneNumber"
                    class="login__input register"
                    type="number"
                    placeholder="Phone number"
                />
                <input
                    autocomplete="email"
                    formControlName="email"
                    id="email"
                    class="login__input register"
                    type="email"
                    placeholder="{{ 'Email' | i18n }}"
                    required
                />

                <div class="login__passwordContainer">
                    <input
                        autocomplete="current-password"
                        formControlName="password"
                        class="login__input"
                        name="password"
                        type="{{ showPassword ? 'text' : 'password' }}"
                        label="Password"
                        placeholder="{{'Password'|i18n}}"
                        required
                    />
                    <img
                        (click)="togglePassword()"
                        class="login__showPassword"
                        [src]="'assets/img/icons/eye.svg'"
                        alt="show password"
                    />
                </div>

                <div class="login__loading" *ngIf="isLoading">
                    <loaders-css [loader]="'ball-pulse'" [loaderClass]="'login'"></loaders-css>
                </div>

                <button class="login__submit" type="button" *ngIf="!isLoading" (click)="resolveAndRegister()">
                    {{ 'Register' | i18n }}
                </button>
                <!-- <div class="login__terms">
                    <a class="login__termLink">Warunki korzystania</a> <span class="login__termLinkDivider"></span>
                    <a class="login__termLink">Privacy policy</a>
                </div> -->
            </form>
        </div>
        <img class="login__decorator" [src]="'assets/img/login/decorator.svg'" alt="dekoracja narożnika" />
    </div>
    <div class="login__goToRegister">
        <h4 class="login__goToRegisterTitle">{{ 'Already have an account?' | i18n }}</h4>

        <a routerLink="/login" class="login__goToRegisterButton">{{ 'Log in' | i18n }}</a>
    </div>
    <div>
        <re-captcha size="invisible" (resolved)="resolveCaptcha($event)" #captchaRef></re-captcha>
    </div>
</div>
