<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ 'Category filter' | i18n }}
            </div>
            <div class="modal-body">
                <select class="form-control" name="0" (change)="selectedChange($event)">
                    <option>{{ 'None in list' | i18n }}</option>
                    <option *ngFor="let cat of categories" value="{{ cat.id }}">{{ cat.name }}</option>
                </select>
                <div style="margin-top: 10px" *ngFor="let sel of selectedChildren; let i = index">
                    <select
                        *ngIf="sel && sel.children && sel.children.length"
                        class="form-control"
                        name="{{ i + 1 }}"
                        (change)="selectedChange($event)"
                    >
                        <option>{{ 'None in list' | i18n }}</option>
                        <option *ngFor="let cat of sel.children" value="{{ cat.id }}">{{ cat.name }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button " class="btn btn-success" (click)="filter()">
                    <i class=" fa fa-check"></i> {{ 'Filter' | i18n }}
                </button>
            </div>
        </div>
    </div>
</div>
