<div class="col-sm-12">
    <error-box [serverError]="serverError"></error-box>
    <loader [isLoading]="isLoading"></loader>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td width="13%">{{'Date' | i18n}}</td>
                <td width="8%">{{'Shop name' | i18n}}</td>
                <td width="8%">{{'Domain' | i18n}}</td>
                <td width="8%">{{'AliExpressId' | i18n}}</td>
                <td width="15%">{{'Categories' | i18n}}</td>
                <td width="15%">{{'Status' | i18n}}</td>
                <td width="10%">{{'Error' | i18n}}</td>
                <td width="8%">{{'Finished' | i18n}}</td>
                <td width="15%">
                    <button (click)="ngOnInit()" class="btn btn-default btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let import of response.data  | paginate: { itemsPerPage: itemsPerPage, currentPage: request.currentPage, totalItems:response.totalItems, id:'imports-shops' }">
                <td> {{import.creationDate | date: 'short'}}</td>
                <td>{{import.shopName}}</td>
                <td><a href="https://{{import.domain}}" target="_blank">{{import.domain}}</a></td>
                <td>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.aliexpress.com/store/{{import.aliExpressShopId}} ">
                        {{import.aliExpressShopId}}
                    </a>
                </td>
                <td>
                    <a *ngIf="!import.showCategories" class="btn btn-xs btn-default" (click)="import.showCategories = true">{{'Show' | i18n}}</a>
                    <a *ngIf="import.showCategories" class="btn btn-xs btn-default" (click)="import.showCategories = false">{{'Hide' | i18n}}</a>

                    <div *ngIf="import.showCategories">
                        <span style="font-size:11px;" *ngFor="let cat of import.categories ">
                            <a target="_blank" href="http://www.aliexpress.com/store/group/Shoulder-Bag/{{import.aliExpressShopId}}_{{cat.Id}}.html">{{cat.Id}}</a>
                            {{cat.Name}}
                            <br />
                        </span>
                    </div>
                </td>
                <td>
                    {{import.status}}
                    <span *ngIf="import.lastStatusUpdateDate"> <br /> ({{import.lastStatusUpdateDate | date: 'short'}})</span>
                </td>
                <td>{{import.error}}</td>
                <td>
                    <span *ngIf="import.finished" class="label label-block label-success"><i class="fa fa-check"></i>
                        {{'Finished' | i18n}}</span>
                    <span *ngIf="!import.finished" class="label label-block label-danger"><i class="fa fa-times"></i>
                        {{'Not finished' | i18n}}</span>
                    <span *ngIf="import.inProgress" class="label  label-block label-info"><i class="fa fa-circle"></i>
                        {{'In progress' | i18n}}</span>

                        <span *ngIf="import.disabled" class="label  label-block label-danger"><i class="fa fa-circle"></i>
                            {{'Off' | i18n}} </span>
    
                </td>
                <td>
                    <button *ngIf="!import.finished" class="btn btn-xs btn-info" (click)="reset(import.id)">{{'Reset' | i18n}}</button>
                    <button *ngIf="!import.disabled  && !import.finished" class="btn btn-xs btn-danger" (click)="toggleDisabled(import.id)">{{'Off_imp' | i18n}}</button>

                    <button *ngIf="import.disabled && !import.finished" class="btn btn-xs btn-success" (click)="toggleDisabled(import.id)">{{'On_imp' | i18n}}</button>

                </td>

            </tr>
        </tbody>
        <tfoot>
            <tr class="pagination-row">
                <td colspan="9">
                    <pagination-wrapper (pageChange)="pageChange($event)" id="imports-shops"></pagination-wrapper>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="col-sm-12" style="font-size:11px;">
    <h4>{{'Legend' | i18n}}</h4> <br />
    <ol>
        <li>{{'Pending' | i18n}}</li>
        <li>{{'Creating shop' | i18n}}</li>
        <li>{{'Creating category tree' | i18n}}</li>
        <li>{{'Collecting shop products' | i18n}}</li>
        <li>{{'Adding products to database' | i18n}}</li>
        <li>{{'Creating products index in algolia' | i18n}}</li>
        <li>{{'Adding products to shop' | i18n}}</li>
        <li>{{'Creating mobile categories' | i18n}}</li>
        <li>{{'Creating category index in algolia' | i18n}}</li>
        <li>{{'Finish' | i18n}}</li>
    </ol>
</div>
