<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Dashboard' | i18n]"
            icon="dashboard"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12"><error-box [serverError]="serverError"></error-box></div>
    
        <div class="col-sm-12" style="margin-bottom:10px;">
            <button class="btn btn-default" (click)="getStats()"> <i class="fa fa-refresh"></i> {{'Refresh' | i18n }}</button>

        </div>
        <div class=" col-sm-6" >
            <div class="well text-center ">
                    <loader [isLoading]="isLoading"></loader>    
                <h2>{{ 'Products' | i18n }}</h2>
                <div>
                    <div [flipClock] [value]="statistics.totalProductsQuantity"></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6" >
            <div class="well text-center ">
                    <loader [isLoading]="isLoading"></loader>    
                <h2>{{ 'Orders today' | i18n }}</h2>
                <div>
                    <div [flipClock] setValue="setCountr(" [value]="statistics.ordersTodayQuantity"></div>
                    <h3>{{ 'last' | i18n }} {{ statistics.lastOrderDate | date: 'short' }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="font-weight: 400; color: #4c4f53;">{{ 'Help - instructional videos' | i18n }}</h3>
            <div>
                <iframe
                    width="420"
                    height="315"
                    src="https://www.youtube.com/embed/vOHcCr_4xcc?rel=0"
                    frameborder="0"
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
    </div>
</div>
