<div id="content">
    <div class="row">
        <sa-big-breadcrumbs
            [items]="['Kody rabatowe']"
            icon="level-down"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"
        ></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div>
            <ul id="myTab1" class="nav nav-tabs bordered">
                <li [class.active]="currentTab == 'special-codes'">
                    <a (click)="currentTab = 'special-codes'">
                        <i class="fa fa-fw fa-lg fa-shopping-cart"></i>{{ 'Discount codes' | i18n }}</a
                    >
                </li>
                <li *ngIf="specialDiscountPermission" [class.active]="currentTab == 'special-discount'">
                    <a (click)="currentTab = 'special-discount'">
                        <i class="fa fa-fw fa-lg fa-dropbox"></i> {{ 'Special discount' | i18n }}</a
                    >
                </li>
            </ul>
            <tabset class="padding-10">
                <tab [active]="currentTab == 'special-codes'">
                    <discount-codes></discount-codes>
                </tab>
                <tab [active]="currentTab == 'special-discount'">
                    <special-discount></special-discount>
                </tab>
            </tabset>
        </div>
    </div>
</div>
